domains/server/native/n8n/parts/workflows/03-system-monitoring-alertmanager-router.json
{
  "name": "System Monitoring & Alertmanager Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertmanager",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "alertmanager"
    },
    {
      "parameters": {
        "jsCode": "// Parse Alertmanager webhook payload\nconst payload = $input.item.json;\nconst alerts = payload.alerts || [];\n\n// Transform each alert into standardized format\nreturn alerts.map(alert => ({\n  json: {\n    name: alert.labels.alertname || 'UnknownAlert',\n    severity: alert.labels.severity || 'P4',\n    category: alert.labels.category || 'system',\n    instance: alert.labels.instance || 'unknown',\n    job: alert.labels.job || '',\n    summary: alert.annotations.summary || '',\n    description: alert.annotations.description || '',\n    status: alert.status || 'firing',\n    startsAt: alert.startsAt,\n    fingerprint: alert.fingerprint || '',\n    rawLabels: alert.labels,\n    rawAnnotations: alert.annotations\n  }\n}));"
      },
      "id": "parse-alerts",
      "name": "Parse Alertmanager Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-alerts",
      "name": "Loop Over Alerts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.category }}",
                    "value2": "system"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "system"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.category }}",
                    "value2": "service"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "service"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.category }}",
                    "value2": "container"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "container"
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "branch-by-category",
      "name": "Branch by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:9090/api/v1/query",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ 'up{instance=\"' + $json.instance + '\"}' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "query-prometheus-system",
      "name": "Query Prometheus (System)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "command": "=systemctl status {{ $json.job }} --no-pager",
        "options": {}
      },
      "id": "check-service",
      "name": "Check Service Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "command": "=podman inspect {{ $json.instance }} --format json",
        "options": {}
      },
      "id": "inspect-container",
      "name": "Inspect Container",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 450]
    },
    {
      "parameters": {
        "jsCode": "// Generate rich notification with enriched context\nconst { name, severity, summary, description, category, instance } = $json;\n\n// Severity emoji mapping\nconst emoji = {\n  P5: '🔴',\n  P4: '⚠️',\n  P3: 'ℹ️',\n  P2: '📊',\n  P1: '✅'\n}[severity] || '⚠️';\n\n// Determine topic based on severity\nlet topic;\nif (severity === 'P5' || severity === 'critical') {\n  topic = 'hwc-critical';\n} else if (severity === 'P4' || severity === 'warning') {\n  topic = 'hwc-alerts';\n} else {\n  topic = 'hwc-monitoring';\n}\n\n// Normalize severity to P1-P5\nconst normalizedSeverity = severity.startsWith('P') ? severity : \n  (severity === 'critical' ? 'P5' : (severity === 'warning' ? 'P4' : 'P3'));\n\nconst priority = parseInt(normalizedSeverity.replace('P', ''));\n\n// Build enriched message\nlet enrichedMessage = summary;\nif (description) {\n  enrichedMessage += `\\n\\n${description}`;\n}\n\n// Add context from enrichment (if available)\nif ($json.enrichment) {\n  enrichedMessage += `\\n\\nContext: ${$json.enrichment}`;\n}\n\nenrichedMessage += `\\n\\nInstance: ${instance}`;\nenrichedMessage += `\\nCategory: ${category}`;\nenrichedMessage += `\\n\\nGrafana: https://hwc.ocelot-wahoo.ts.net/grafana`;\n\nconst title = `${emoji} [${normalizedSeverity}] ${name}`;\n\nreturn {\n  json: {\n    title: title,\n    message: enrichedMessage,\n    topic: topic,\n    priority: priority,\n    tags: `alert,${category},${normalizedSeverity},${name}`,\n    sendToSlack: normalizedSeverity === 'P5'\n  }\n};"
      },
      "id": "generate-notification",
      "name": "Generate Rich Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sendToSlack }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-slack",
      "name": "Check if Slack needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hwc.ocelot-wahoo.ts.net/notify/={{ $json.topic }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.tags }}"
            },
            {
              "name": "Priority",
              "value": "={{ $json.priority }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-ntfy",
      "name": "Send to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.title }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.message }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Alertmanager → n8n\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Error notification\nconst error = $input.item.json.error || 'Unknown error';\nconst workflow = 'Alertmanager Router';\n\nreturn {\n  json: {\n    title: '⚠️ Alertmanager Router Error',\n    message: `Workflow: ${workflow}\\n\\nError: ${error}\\n\\nCheck n8n logs.`,\n    topic: 'hwc-alerts',\n    priority: 4,\n    tags: 'error,alertmanager,n8n'\n  }\n};"
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hwc.ocelot-wahoo.ts.net/notify/={{ $json.topic }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.tags }}"
            },
            {
              "name": "Priority",
              "value": "={{ $json.priority }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-error-ntfy",
      "name": "Send Error to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Parse Alertmanager Alerts", "type": "main", "index": 0 }]]
    },
    "Parse Alertmanager Alerts": {
      "main": [[{ "node": "Loop Over Alerts", "type": "main", "index": 0 }]]
    },
    "Loop Over Alerts": {
      "main": [[{ "node": "Branch by Category", "type": "main", "index": 0 }]]
    },
    "Branch by Category": {
      "main": [
        [{ "node": "Query Prometheus (System)", "type": "main", "index": 0 }],
        [{ "node": "Check Service Status", "type": "main", "index": 0 }],
        [{ "node": "Inspect Container", "type": "main", "index": 0 }],
        [{ "node": "Generate Rich Notification", "type": "main", "index": 0 }]
      ]
    },
    "Query Prometheus (System)": {
      "main": [[{ "node": "Generate Rich Notification", "type": "main", "index": 0 }]]
    },
    "Check Service Status": {
      "main": [[{ "node": "Generate Rich Notification", "type": "main", "index": 0 }]]
    },
    "Inspect Container": {
      "main": [[{ "node": "Generate Rich Notification", "type": "main", "index": 0 }]]
    },
    "Generate Rich Notification": {
      "main": [[{ "node": "Check if Slack needed", "type": "main", "index": 0 }]]
    },
    "Check if Slack needed": {
      "main": [
        [{ "node": "Send to ntfy", "type": "main", "index": 0 }, { "node": "Send to Slack", "type": "main", "index": 0 }],
        [{ "node": "Send to ntfy", "type": "main", "index": 0 }]
      ]
    },
    "Error Notification": {
      "main": [[{ "node": "Send Error to ntfy", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring",
      "id": "monitoring-tag"
    },
    {
      "name": "alertmanager",
      "id": "alertmanager-tag"
    },
    {
      "name": "automation",
      "id": "automation-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-08T00:00:00.000Z",
  "versionId": "1"
}
