domains/automation/n8n/parts/workflows/09-calculator-lead.json
{"updatedAt":"2026-03-24T22:23:13.406Z","createdAt":"2026-03-23T23:51:24.643Z","id":"SoLwmxgkMILrOYbP","name":"work_calculator_lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calculator-lead","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook: Calculator Lead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"calculator-lead"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst hasName = body?.contact?.name && body.contact.name.trim() !== '';\nconst hasPhone = body?.contact?.phone && body.contact.phone.trim() !== '';\n\nreturn [{\n  json: {\n    isValid: hasName && hasPhone,\n    contact: body?.contact || {},\n    projectState: body?.projectState || {},\n    estimate: body?.estimate || {},\n    source: body?.source || 'website_calculator'\n  }\n}];"},"id":"check-required","name":"Check Required Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-valid","name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Validation failed: name and phone are required\"\n}","options":{"responseCode":400}},"id":"respond-error","name":"Respond 400 Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,512]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createAccount\": {\n      \"$\": {\n        \"name\": \"{{ $json.contact.name }}\",\n        \"type\": \"customer\",\n        \"organizationId\": \"22Nm3uFevXMb\"\n      },\n      \"createdAccount\": {\n        \"id\": {},\n        \"name\": {},\n        \"type\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-account","name":"Create JT Account","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateAccount\": {\n      \"$\": {\n        \"id\": \"{{ $json.createAccount.createdAccount.id }}\",\n        \"customFieldValues\": {\n          \"22PUGvBnXeYs\": \"Website\",\n          \"22Nnj9KMKEPC\": \"Bathroom Remodel\"\n        }\n      },\n      \"account\": {\n        \"$\": { \"id\": \"{{ $json.createAccount.createdAccount.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"set-custom-fields","name":"Set Account Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,304]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.jobtread.com/pave","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createContact\": {\n      \"$\": {\n        \"accountId\": \"{{ $('Create JT Account').item.json.createAccount.createdAccount.id }}\",\n        \"name\": \"{{ $('Check Required Fields').item.json.contact.name }}\"\n      },\n      \"createdContact\": {\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-contact","name":"Create JT Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createLocation\": {\n      \"$\": {\n        \"accountId\": \"{{ $('Create JT Account').item.json.createAccount.createdAccount.id }}\",\n        \"name\": \"Primary\",\n        \"address\": {\n          \"city\": \"Bozeman\",\n          \"state\": \"MT\"\n        }\n      },\n      \"createdLocation\": {\n        \"id\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-location","name":"Create JT Location","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createJob\": {\n      \"$\": {\n        \"locationId\": \"{{ $json.createLocation.createdLocation.id }}\",\n        \"name\": \"{{ $('Check Required Fields').item.json.contact.name }} - Bathroom\"\n      },\n      \"createdJob\": {\n        \"id\": {},\n        \"number\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-job","name":"Create JT Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateJob\": {\n      \"$\": {\n        \"id\": \"{{ $json.createJob.createdJob.id }}\",\n        \"customFieldValues\": {\n          \"22P4fgU4XmLY\": \"Bathroom\",\n          \"22P4fguBu3Ub\": \"1. Contacted\"\n        }\n      },\n      \"job\": {\n        \"$\": { \"id\": \"{{ $json.createJob.createdJob.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"set-job-fields","name":"Set Job Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,304]},{"parameters":{"jsCode":"const validated = $('Check Required Fields').item.json;\nconst account = $('Create JT Account').item.json;\nconst job = $('Create JT Job').item.json;\n\nconst contact = validated.contact;\nconst projectState = validated.projectState;\nconst estimate = validated.estimate;\n\nreturn [{\n  json: {\n    pg: {\n      name: contact.name,\n      email: contact.email || null,\n      phone: contact.phone,\n      notes: contact.notes || null,\n      project_type: projectState.project_type || null,\n      bathroom_size: projectState.bathroom_size || null,\n      shower_tub: projectState.shower_tub || null,\n      tile_level: projectState.tile_level || null,\n      fixtures: projectState.fixtures || null,\n      features: JSON.stringify(projectState.features || []),\n      timeline: projectState.timeline || null,\n      estimate_low: estimate.low || null,\n      estimate_high: estimate.high || null,\n      jt_account_id: account.createAccount.createdAccount.id,\n      jt_job_id: job.createJob.createdJob.id\n    },\n    slack: {\n      name: contact.name,\n      phone: contact.phone,\n      email: contact.email || 'N/A',\n      project_type: projectState.project_type || 'N/A',\n      bathroom_size: projectState.bathroom_size || 'N/A',\n      tile_level: projectState.tile_level || 'N/A',\n      low: estimate.low || 0,\n      high: estimate.high || 0,\n      timeline: projectState.timeline || 'N/A',\n      features: (projectState.features || []).join(', ') || 'None'\n    },\n    jt_account_id: account.createAccount.createdAccount.id,\n    jt_job_id: job.createJob.createdJob.id\n  }\n}];"},"id":"prepare-data","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.calculator_leads (\n  name, email, phone, notes,\n  project_type, bathroom_size, shower_tub, tile_level, fixtures, features, timeline,\n  estimate_low, estimate_high, status, jt_account_id, jt_job_id, created_at\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10::jsonb, $11, $12, $13, 'new', $14, $15, NOW()\n) RETURNING id;","options":{"queryReplacement":"={{ [$json.pg.name, $json.pg.email, $json.pg.phone, $json.pg.notes, $json.pg.project_type, $json.pg.bathroom_size, $json.pg.shower_tub, $json.pg.tile_level, $json.pg.fixtures, $json.pg.features, $json.pg.timeline, $json.pg.estimate_low, $json.pg.estimate_high, $json.pg.jt_account_id, $json.pg.jt_job_id] }}"}},"id":"insert-postgres","name":"Insert into Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2576,208],"credentials":{"postgres":{"id":"iXtijdayy9OMPQvY","name":"HWC Postgres"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0ANNLYNQ92","mode":"list","cachedResultName":"leads"},"text":"=:clipboard: *New Calculator Lead*\n\n*Name:* {{ $json.slack.name }}\n*Phone:* {{ $json.slack.phone }}\n*Email:* {{ $json.slack.email }}\n*Project:* {{ $json.slack.project_type }} | {{ $json.slack.bathroom_size }} | {{ $json.slack.tile_level }}\n*Range:* ${{ $json.slack.low.toLocaleString() }} – ${{ $json.slack.high.toLocaleString() }}\n*Timeline:* {{ $json.slack.timeline }}\n*Features:* {{ $json.slack.features }}","otherOptions":{}},"id":"send-slack","name":"Send Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2576,400],"webhookId":"08131b19-378c-49e8-8fa0-88aac9b87575","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-results","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,304]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"jt_account_id\": \"{{ $('Prepare Data').item.json.jt_account_id }}\",\n  \"jt_job_id\": \"{{ $('Prepare Data').item.json.jt_job_id }}\"\n}","options":{"responseCode":200}},"id":"respond-success","name":"Respond 200 Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3008,304]},{"id":"set-contact-custom-fields","name":"Set Contact Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,304],"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","authentication":"none","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateContact\": {\n      \"$\": {\n        \"id\": \"{{ $json.createContact.createdContact.id }}\",\n        \"customFieldValues\": {\n          \"22Nm3uGRBrPX\": \"{{ $('Check Required Fields').item.json.contact.email || '' }}\",\n          \"22Nm3uGb7WT2\": \"{{ $('Check Required Fields').item.json.contact.phone || '' }}\"\n        }\n      },\n      \"contact\": {\n        \"$\": { \"id\": \"{{ $json.createContact.createdContact.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}}}],"connections":{"Webhook: Calculator Lead":{"main":[[{"node":"Check Required Fields","type":"main","index":0}]]},"Check Required Fields":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Create JT Account","type":"main","index":0}],[{"node":"Respond 400 Error","type":"main","index":0}]]},"Create JT Account":{"main":[[{"node":"Set Account Custom Fields","type":"main","index":0}]]},"Set Account Custom Fields":{"main":[[{"node":"Create JT Contact","type":"main","index":0}]]},"Create JT Contact":{"main":[[{"node":"Set Contact Custom Fields","type":"main","index":0}]]},"Create JT Location":{"main":[[{"node":"Create JT Job","type":"main","index":0}]]},"Create JT Job":{"main":[[{"node":"Set Job Custom Fields","type":"main","index":0}]]},"Set Job Custom Fields":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Insert into Postgres","type":"main","index":0},{"node":"Send Slack Notification","type":"main","index":0}]]},"Insert into Postgres":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Send Slack Notification":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Respond 200 Success","type":"main","index":0}]]},"Set Contact Custom Fields":{"main":[[{"node":"Create JT Location","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Denver","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e6e56055-b38f-4921-a0ef-86574b8cc6c5","activeVersionId":"e6e56055-b38f-4921-a0ef-86574b8cc6c5","versionCounter":82,"triggerCount":1,"shared":[{"updatedAt":"2026-03-23T23:51:24.653Z","createdAt":"2026-03-23T23:51:24.653Z","role":"workflow:owner","workflowId":"SoLwmxgkMILrOYbP","projectId":"bMO3z9r4NHgNWOF3","project":{"updatedAt":"2025-12-08T06:53:46.444Z","createdAt":"2025-12-07T21:24:43.325Z","id":"bMO3z9r4NHgNWOF3","name":"Eric Okeefe <eric@iheartwoodcraft.com>","type":"personal","icon":null,"description":null,"creatorId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T22:23:13.407Z","createdAt":"2026-03-24T22:23:13.407Z","versionId":"e6e56055-b38f-4921-a0ef-86574b8cc6c5","workflowId":"SoLwmxgkMILrOYbP","nodes":[{"parameters":{"httpMethod":"POST","path":"calculator-lead","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook: Calculator Lead","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"calculator-lead"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst hasName = body?.contact?.name && body.contact.name.trim() !== '';\nconst hasPhone = body?.contact?.phone && body.contact.phone.trim() !== '';\n\nreturn [{\n  json: {\n    isValid: hasName && hasPhone,\n    contact: body?.contact || {},\n    projectState: body?.projectState || {},\n    estimate: body?.estimate || {},\n    source: body?.source || 'website_calculator'\n  }\n}];"},"id":"check-required","name":"Check Required Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-valid","name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Validation failed: name and phone are required\"\n}","options":{"responseCode":400}},"id":"respond-error","name":"Respond 400 Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,512]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createAccount\": {\n      \"$\": {\n        \"name\": \"{{ $json.contact.name }}\",\n        \"type\": \"customer\",\n        \"organizationId\": \"22Nm3uFevXMb\"\n      },\n      \"createdAccount\": {\n        \"id\": {},\n        \"name\": {},\n        \"type\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-account","name":"Create JT Account","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateAccount\": {\n      \"$\": {\n        \"id\": \"{{ $json.createAccount.createdAccount.id }}\",\n        \"customFieldValues\": {\n          \"22PUGvBnXeYs\": \"Website\",\n          \"22Nnj9KMKEPC\": \"Bathroom Remodel\"\n        }\n      },\n      \"account\": {\n        \"$\": { \"id\": \"{{ $json.createAccount.createdAccount.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"set-custom-fields","name":"Set Account Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,304]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.jobtread.com/pave","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createContact\": {\n      \"$\": {\n        \"accountId\": \"{{ $('Create JT Account').item.json.createAccount.createdAccount.id }}\",\n        \"name\": \"{{ $('Check Required Fields').item.json.contact.name }}\"\n      },\n      \"createdContact\": {\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-contact","name":"Create JT Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createLocation\": {\n      \"$\": {\n        \"accountId\": \"{{ $('Create JT Account').item.json.createAccount.createdAccount.id }}\",\n        \"name\": \"Primary\",\n        \"address\": {\n          \"city\": \"Bozeman\",\n          \"state\": \"MT\"\n        }\n      },\n      \"createdLocation\": {\n        \"id\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-location","name":"Create JT Location","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createJob\": {\n      \"$\": {\n        \"locationId\": \"{{ $json.createLocation.createdLocation.id }}\",\n        \"name\": \"{{ $('Check Required Fields').item.json.contact.name }} - Bathroom\"\n      },\n      \"createdJob\": {\n        \"id\": {},\n        \"number\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-job","name":"Create JT Job","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateJob\": {\n      \"$\": {\n        \"id\": \"{{ $json.createJob.createdJob.id }}\",\n        \"customFieldValues\": {\n          \"22P4fgU4XmLY\": \"Bathroom\",\n          \"22P4fguBu3Ub\": \"1. Contacted\"\n        }\n      },\n      \"job\": {\n        \"$\": { \"id\": \"{{ $json.createJob.createdJob.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"set-job-fields","name":"Set Job Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,304]},{"parameters":{"jsCode":"const validated = $('Check Required Fields').item.json;\nconst account = $('Create JT Account').item.json;\nconst job = $('Create JT Job').item.json;\n\nconst contact = validated.contact;\nconst projectState = validated.projectState;\nconst estimate = validated.estimate;\n\nreturn [{\n  json: {\n    pg: {\n      name: contact.name,\n      email: contact.email || null,\n      phone: contact.phone,\n      notes: contact.notes || null,\n      project_type: projectState.project_type || null,\n      bathroom_size: projectState.bathroom_size || null,\n      shower_tub: projectState.shower_tub || null,\n      tile_level: projectState.tile_level || null,\n      fixtures: projectState.fixtures || null,\n      features: JSON.stringify(projectState.features || []),\n      timeline: projectState.timeline || null,\n      estimate_low: estimate.low || null,\n      estimate_high: estimate.high || null,\n      jt_account_id: account.createAccount.createdAccount.id,\n      jt_job_id: job.createJob.createdJob.id\n    },\n    slack: {\n      name: contact.name,\n      phone: contact.phone,\n      email: contact.email || 'N/A',\n      project_type: projectState.project_type || 'N/A',\n      bathroom_size: projectState.bathroom_size || 'N/A',\n      tile_level: projectState.tile_level || 'N/A',\n      low: estimate.low || 0,\n      high: estimate.high || 0,\n      timeline: projectState.timeline || 'N/A',\n      features: (projectState.features || []).join(', ') || 'None'\n    },\n    jt_account_id: account.createAccount.createdAccount.id,\n    jt_job_id: job.createJob.createdJob.id\n  }\n}];"},"id":"prepare-data","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.calculator_leads (\n  name, email, phone, notes,\n  project_type, bathroom_size, shower_tub, tile_level, fixtures, features, timeline,\n  estimate_low, estimate_high, status, jt_account_id, jt_job_id, created_at\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10::jsonb, $11, $12, $13, 'new', $14, $15, NOW()\n) RETURNING id;","options":{"queryReplacement":"={{ [$json.pg.name, $json.pg.email, $json.pg.phone, $json.pg.notes, $json.pg.project_type, $json.pg.bathroom_size, $json.pg.shower_tub, $json.pg.tile_level, $json.pg.fixtures, $json.pg.features, $json.pg.timeline, $json.pg.estimate_low, $json.pg.estimate_high, $json.pg.jt_account_id, $json.pg.jt_job_id] }}"}},"id":"insert-postgres","name":"Insert into Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2576,208],"credentials":{"postgres":{"id":"iXtijdayy9OMPQvY","name":"HWC Postgres"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0ANNLYNQ92","mode":"list","cachedResultName":"leads"},"text":"=:clipboard: *New Calculator Lead*\n\n*Name:* {{ $json.slack.name }}\n*Phone:* {{ $json.slack.phone }}\n*Email:* {{ $json.slack.email }}\n*Project:* {{ $json.slack.project_type }} | {{ $json.slack.bathroom_size }} | {{ $json.slack.tile_level }}\n*Range:* ${{ $json.slack.low.toLocaleString() }} – ${{ $json.slack.high.toLocaleString() }}\n*Timeline:* {{ $json.slack.timeline }}\n*Features:* {{ $json.slack.features }}","otherOptions":{}},"id":"send-slack","name":"Send Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2576,400],"webhookId":"08131b19-378c-49e8-8fa0-88aac9b87575","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-results","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,304]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"jt_account_id\": \"{{ $('Prepare Data').item.json.jt_account_id }}\",\n  \"jt_job_id\": \"{{ $('Prepare Data').item.json.jt_job_id }}\"\n}","options":{"responseCode":200}},"id":"respond-success","name":"Respond 200 Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3008,304]},{"id":"set-contact-custom-fields","name":"Set Contact Custom Fields","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,304],"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","authentication":"none","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"updateContact\": {\n      \"$\": {\n        \"id\": \"{{ $json.createContact.createdContact.id }}\",\n        \"customFieldValues\": {\n          \"22Nm3uGRBrPX\": \"{{ $('Check Required Fields').item.json.contact.email || '' }}\",\n          \"22Nm3uGb7WT2\": \"{{ $('Check Required Fields').item.json.contact.phone || '' }}\"\n        }\n      },\n      \"contact\": {\n        \"$\": { \"id\": \"{{ $json.createContact.createdContact.id }}\" },\n        \"id\": {},\n        \"name\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}}}],"connections":{"Webhook: Calculator Lead":{"main":[[{"node":"Check Required Fields","type":"main","index":0}]]},"Check Required Fields":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Create JT Account","type":"main","index":0}],[{"node":"Respond 400 Error","type":"main","index":0}]]},"Create JT Account":{"main":[[{"node":"Set Account Custom Fields","type":"main","index":0}]]},"Set Account Custom Fields":{"main":[[{"node":"Create JT Contact","type":"main","index":0}]]},"Create JT Contact":{"main":[[{"node":"Set Contact Custom Fields","type":"main","index":0}]]},"Create JT Location":{"main":[[{"node":"Create JT Job","type":"main","index":0}]]},"Create JT Job":{"main":[[{"node":"Set Job Custom Fields","type":"main","index":0}]]},"Set Job Custom Fields":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Insert into Postgres","type":"main","index":0},{"node":"Send Slack Notification","type":"main","index":0}]]},"Insert into Postgres":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Send Slack Notification":{"main":[[{"node":"Merge Results","type":"main","index":1}]]},"Merge Results":{"main":[[{"node":"Respond 200 Success","type":"main","index":0}]]},"Set Contact Custom Fields":{"main":[[{"node":"Create JT Location","type":"main","index":0}]]}},"authors":"Eric Okeefe","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T22:23:13.458Z","id":232,"workflowId":"SoLwmxgkMILrOYbP","versionId":"e6e56055-b38f-4921-a0ef-86574b8cc6c5","event":"activated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-03-24T22:23:13.438Z","id":231,"workflowId":"SoLwmxgkMILrOYbP","versionId":"e6e56055-b38f-4921-a0ef-86574b8cc6c5","event":"deactivated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}]}}