domains/automation/n8n/parts/workflows/10-lead-response.json
{"updatedAt":"2026-03-25T12:42:57.820Z","createdAt":"2026-03-16T06:12:07.317Z","id":"lead-response-automation","name":"work_lead_response","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"new-lead","options":{}},"id":"webhook-trigger","name":"New Lead Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[208,304],"webhookId":"new-lead"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO webhook_payloads (source, raw_payload, received_at) VALUES ('jobtread', $1::jsonb, NOW()) RETURNING id","options":{"queryReplacement":"={{ [JSON.stringify($json)] }}"}},"id":"log-raw","name":"Log Raw Payload","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Extract Lead Fields with safe optional chaining\n// Webhook payload is in body object\nconst raw = $('New Lead Webhook').first().json;\nconst body = raw.body || raw; // Handle both webhook body and direct data\nconst payloadId = $input.first().json.id;\n\n// Try multiple possible field paths for each value\nconst getName = () => {\n  return body.name || body.contact_name || body.customer_name || \n         body.lead?.name || body.contact?.name || body.customer?.name ||\n         (body.first_name ? `${body.first_name} ${body.last_name || ''}`.trim() : null) ||\n         body.data?.name || body.data?.contact_name || 'Unknown';\n};\n\nconst getPhone = () => {\n  return body.phone || body.phone_number || body.mobile || body.cell ||\n         body.contact_phone || body.customer_phone ||\n         body.lead?.phone || body.contact?.phone || body.customer?.phone ||\n         body.data?.phone || body.data?.phone_number || '';\n};\n\nconst getEmail = () => {\n  return body.email || body.email_address || body.contact_email ||\n         body.lead?.email || body.contact?.email || body.customer?.email ||\n         body.data?.email || '';\n};\n\nconst getServiceType = () => {\n  return body.service_type || body.service || body.project_type || body.type ||\n         body.lead?.service_type || body.job?.type ||\n         body.data?.service_type || body.description || 'home improvement';\n};\n\nconst getSource = () => {\n  return body.source || body.lead_source || body.referral_source ||\n         body.lead?.source || body.data?.source || 'webhook';\n};\n\nconst getJobtreadId = () => {\n  return body.id || body.lead_id || body.jobtread_id || body.job_id ||\n         body.lead?.id || body.data?.id || null;\n};\n\n// Phone normalization to E.164\nconst normalizePhone = (phone) => {\n  if (!phone) return null;\n  // Remove all non-digit characters\n  let digits = phone.toString().replace(/\\D/g, '');\n  \n  // Handle US numbers\n  if (digits.length === 10) {\n    return '+1' + digits;\n  } else if (digits.length === 11 && digits.startsWith('1')) {\n    return '+' + digits;\n  } else if (digits.length > 10) {\n    // Assume already has country code\n    return '+' + digits;\n  }\n  return null; // Invalid phone\n};\n\nconst phone = getPhone();\nconst phoneE164 = normalizePhone(phone);\n\nreturn {\n  json: {\n    payload_id: payloadId,\n    jobtread_id: getJobtreadId(),\n    name: getName(),\n    phone: phone,\n    phone_e164: phoneE164,\n    email: getEmail(),\n    service_type: getServiceType(),\n    source: getSource(),\n    valid_phone: phoneE164 !== null\n  }\n};"},"id":"extract-fields","name":"Extract Lead Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,304]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.valid_phone }}","value2":true}]},"options":{}},"id":"check-phone-valid","name":"Valid Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (jobtread_id, name, phone, phone_e164, email, service_type, source, status, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, 'new', NOW()) RETURNING id, name, phone_e164, service_type","options":{"queryReplacement":"={{ [$json.jobtread_id, $json.name, $json.phone, $json.phone_e164, $json.email, $json.service_type, $json.source] }}"}},"id":"save-lead","name":"Save Lead","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,208],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Check Business Hours - Mountain Time (America/Denver) with DST\nconst lead = $input.first().json;\n\n// Get current time in Denver timezone\nconst now = new Date();\nconst denverOptions = { timeZone: 'America/Denver', hour12: false };\nconst denverTimeStr = now.toLocaleString('en-US', {\n  timeZone: 'America/Denver',\n  hour: '2-digit',\n  minute: '2-digit',\n  weekday: 'short',\n  hour12: false\n});\n\n// Parse Denver time components\nconst denverDate = new Date(now.toLocaleString('en-US', { timeZone: 'America/Denver' }));\nconst hour = denverDate.getHours();\nconst dayOfWeek = denverDate.getDay(); // 0 = Sunday\n\n// Business hours: 7am-7pm Mon-Sat (days 1-6)\nconst isBusinessDay = dayOfWeek >= 1 && dayOfWeek <= 6;\nconst isBusinessHours = hour >= 7 && hour < 19; // 7am to 7pm\nconst isOpen = isBusinessDay && isBusinessHours;\n\n// Calculate next business day 8am if currently closed\nlet nextOpenTime = null;\nif (!isOpen) {\n  const next = new Date(denverDate);\n  \n  if (dayOfWeek === 0) {\n    // Sunday -> Monday 8am\n    next.setDate(next.getDate() + 1);\n  } else if (dayOfWeek === 6 && hour >= 19) {\n    // Saturday after 7pm -> Monday 8am\n    next.setDate(next.getDate() + 2);\n  } else if (hour >= 19) {\n    // After hours weekday -> next day 8am\n    next.setDate(next.getDate() + 1);\n  }\n  // Else before 7am same day\n  \n  next.setHours(8, 0, 0, 0);\n  nextOpenTime = next.toISOString();\n}\n\nreturn {\n  json: {\n    ...lead,\n    is_business_hours: isOpen,\n    current_denver_time: denverTimeStr,\n    next_open_time: nextOpenTime,\n    hour: hour,\n    day_of_week: dayOfWeek\n  }\n};"},"id":"check-hours","name":"Check Business Hours","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.is_business_hours }}","value2":true}]},"options":{}},"id":"branch-hours","name":"Business Hours?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,208]},{"parameters":{"operation":"executeQuery","query":"SELECT sms_opted_out FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$json.id] }}"}},"id":"check-optout-immediate","name":"Check Opt-Out (Immediate)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1600,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"optout-check-immediate","name":"Not Opted Out?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1808,112]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'New Lead' }}"},{"name":"Priority","value":"4"},{"name":"Tags","value":"moneybag,lead"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'New lead received' }}","options":{}},"id":"send-sms-immediate","name":"Push: New Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET sms_sent_at = NOW(), status = 'contacted' WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"mark-sms-sent-immediate","name":"Mark SMS Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2208,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Check Business Hours').first().json.next_open_time }}"},"id":"wait-until-open","name":"Wait Until 8am","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,304],"webhookId":"c8418253-39ab-448a-941e-5b11306e8715"},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, phone_e164, service_type, sms_opted_out FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"reload-lead-scheduled","name":"Reload Lead Data","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1808,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"optout-check-scheduled","name":"Not Opted Out? (Scheduled)","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,304]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'Scheduled Lead' }}"},{"name":"Priority","value":"4"},{"name":"Tags","value":"moneybag,lead"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'Scheduled lead' }}","options":{}},"id":"send-sms-scheduled","name":"Push: Scheduled Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2208,304]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET sms_sent_at = NOW(), status = 'contacted' WHERE id = $1","options":{"queryReplacement":"={{ [$json.id] }}"}},"id":"mark-sms-sent-scheduled","name":"Mark SMS Sent (Scheduled)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2400,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Merge SMS sent paths\nreturn $input.all();"},"id":"merge-sms","name":"Merge SMS Paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,208]},{"parameters":{"amount":2,"unit":"hours"},"id":"wait-2-hours","name":"Wait 2 Hours","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3008,208],"webhookId":"29e8cc62-2f7a-4fa8-9e30-a720598101d3"},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, phone_e164, service_type, responded_at, sms_opted_out, followup_sent_at FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"check-response","name":"Check Response","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3200,208],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.responded_at }}","operation":"isEmpty"}],"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"needs-followup","name":"Needs Follow-up?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3408,208]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'Follow-up Needed' }}"},{"name":"Priority","value":"3"},{"name":"Tags","value":"warning,followup"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'Lead needs follow-up' }}","options":{}},"id":"send-followup","name":"Push: Follow-up Needed","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET followup_sent_at = NOW() WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Response').first().json.id] }}"}},"id":"mark-followup","name":"Mark Follow-up Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3808,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Error Handler\nconst error = $input.first();\nlet errorMsg = '';\ntry {\n  errorMsg = error.json?.message || error.json?.error || JSON.stringify(error.json || {});\n} catch(e) {\n  errorMsg = 'Unknown error';\n}\n\nreturn {\n  json: {\n    workflow_name: 'Lead Response Automation',\n    node_name: 'Unknown',\n    error_message: errorMsg.substring(0, 2000),\n    raw_payload: error.json || {}\n  }\n};"},"id":"format-error","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,608]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO processing_errors (workflow_name, node_name, error_message, raw_payload, failed_at) VALUES ($1, $2, $3, $4::jsonb, NOW())","options":{"queryReplacement":"={{ [$json.workflow_name, $json.node_name, $json.error_message, JSON.stringify($json.raw_payload)] }}"}},"id":"log-error","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2208,608],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{},"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1808,608]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":phone: New Lead - SMS Sent\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $('Check Business Hours').first().json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $('Check Business Hours').first().json.phone_e164 }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Service:*\\n{{ $('Check Business Hours').first().json.service_type }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Source:*\\n{{ $('Extract Lead Fields').first().json.source }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $('Check Business Hours').first().json.id }} | Initial SMS sent | Followup in 2 hours\"}]}\n  ]\n}","text":"New lead SMS sent","otherOptions":{}},"id":"slack-sms-sent","name":"Slack: SMS Sent","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2800,208],"webhookId":"c4d34291-67eb-496c-8d4c-1e3ad2808102","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":hourglass: Follow-up Sent (No Response)\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $('Check Response').first().json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $('Check Response').first().json.phone_e164 }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Service:*\\n{{ $('Check Response').first().json.service_type }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $('Check Response').first().json.id }} | No response after 2 hours | Follow-up SMS sent\"}]}\n  ]\n}","text":"Follow-up sent","otherOptions":{}},"id":"slack-followup","name":"Slack: Follow-up","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[4000,112],"webhookId":"d82ec3b3-8ee7-4731-9b41-a6b7ef9b81f6","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":white_check_mark: Lead Responded!\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $json.phone_e164 }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $json.id }} | Responded at: {{ $json.responded_at }} | No follow-up needed\"}]}\n  ]\n}","text":"Lead responded","otherOptions":{}},"id":"slack-responded","name":"Slack: Responded","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3600,304],"webhookId":"e2c1c577-841c-45b5-9e23-050a5698c821","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":warning: Lead - Invalid Phone\", \"emoji\": true}},\n    {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"*Name:* {{ $json.name }}\\n*Phone:* {{ $json.phone }} (invalid)\\n*Email:* {{ $json.email }}\\n*Service:* {{ $json.service_type }}\"}},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Manual follow-up required - phone could not be normalized to E.164\"}]}\n  ]\n}","text":"Invalid phone lead","otherOptions":{}},"id":"slack-invalid-phone","name":"Slack: Invalid Phone","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1008,400],"webhookId":"369464ea-7978-4ea5-8b29-ceb0d4c05627","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}}],"connections":{"New Lead Webhook":{"main":[[{"node":"Log Raw Payload","type":"main","index":0}]]},"Log Raw Payload":{"main":[[{"node":"Extract Lead Fields","type":"main","index":0}]]},"Extract Lead Fields":{"main":[[{"node":"Valid Phone?","type":"main","index":0}]]},"Valid Phone?":{"main":[[{"node":"Save Lead","type":"main","index":0}],[{"node":"Slack: Invalid Phone","type":"0","index":0}]]},"Save Lead":{"main":[[{"node":"Check Business Hours","type":"main","index":0}]]},"Check Business Hours":{"main":[[{"node":"Business Hours?","type":"main","index":0}]]},"Business Hours?":{"main":[[{"node":"Check Opt-Out (Immediate)","type":"main","index":0}],[{"node":"Wait Until 8am","type":"main","index":0}]]},"Check Opt-Out (Immediate)":{"main":[[{"node":"Not Opted Out?","type":"main","index":0}]]},"Not Opted Out?":{"main":[[{"node":"Push: New Lead","type":"main","index":0}]]},"Push: New Lead":{"main":[[{"node":"Mark SMS Sent","type":"main","index":0}]]},"Mark SMS Sent":{"main":[[{"node":"Merge SMS Paths","type":"main","index":0}]]},"Wait Until 8am":{"main":[[{"node":"Reload Lead Data","type":"main","index":0}]]},"Reload Lead Data":{"main":[[{"node":"Not Opted Out? (Scheduled)","type":"main","index":0}]]},"Not Opted Out? (Scheduled)":{"main":[[{"node":"Push: Scheduled Lead","type":"main","index":0}]]},"Push: Scheduled Lead":{"main":[[{"node":"Mark SMS Sent (Scheduled)","type":"main","index":0}]]},"Mark SMS Sent (Scheduled)":{"main":[[{"node":"Merge SMS Paths","type":"main","index":0}]]},"Wait 2 Hours":{"main":[[{"node":"Check Response","type":"main","index":0}]]},"Check Response":{"main":[[{"node":"Needs Follow-up?","type":"main","index":0}]]},"Needs Follow-up?":{"main":[[{"node":"Push: Follow-up Needed","type":"main","index":0}],[{"node":"Slack: Responded","type":"0","index":0}]]},"Push: Follow-up Needed":{"main":[[{"node":"Mark Follow-up Sent","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Log Error","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error","type":"0","index":0}]]},"Merge SMS Paths":{"main":[[{"node":"Slack: SMS Sent","type":"0","index":0}]]},"Slack: SMS Sent":{"main":[[{"node":"Wait 2 Hours","type":"0","index":0}]]},"Mark Follow-up Sent":{"main":[[{"node":"Slack: Follow-up","type":"0","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"errorWorkflow":"lead-response-automation","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"1e8f0591-f561-4432-a1b0-3d2869a65139","activeVersionId":"1e8f0591-f561-4432-a1b0-3d2869a65139","versionCounter":90,"triggerCount":1,"shared":[{"updatedAt":"2026-03-16T06:12:07.319Z","createdAt":"2026-03-16T06:12:07.319Z","role":"workflow:owner","workflowId":"lead-response-automation","projectId":"bMO3z9r4NHgNWOF3","project":{"updatedAt":"2025-12-08T06:53:46.444Z","createdAt":"2025-12-07T21:24:43.325Z","id":"bMO3z9r4NHgNWOF3","name":"Eric Okeefe <eric@iheartwoodcraft.com>","type":"personal","icon":null,"description":null,"creatorId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}}],"tags":[{"updatedAt":"2026-03-16T06:12:07.324Z","createdAt":"2026-03-16T06:12:07.324Z","id":"leads-tag","name":"leads"},{"updatedAt":"2026-03-16T06:12:07.325Z","createdAt":"2026-03-16T06:12:07.325Z","id":"sms-tag","name":"sms"}],"activeVersion":{"updatedAt":"2026-03-25T12:42:57.821Z","createdAt":"2026-03-25T12:42:57.821Z","versionId":"1e8f0591-f561-4432-a1b0-3d2869a65139","workflowId":"lead-response-automation","nodes":[{"parameters":{"httpMethod":"POST","path":"new-lead","options":{}},"id":"webhook-trigger","name":"New Lead Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[208,304],"webhookId":"new-lead"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO webhook_payloads (source, raw_payload, received_at) VALUES ('jobtread', $1::jsonb, NOW()) RETURNING id","options":{"queryReplacement":"={{ [JSON.stringify($json)] }}"}},"id":"log-raw","name":"Log Raw Payload","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Extract Lead Fields with safe optional chaining\n// Webhook payload is in body object\nconst raw = $('New Lead Webhook').first().json;\nconst body = raw.body || raw; // Handle both webhook body and direct data\nconst payloadId = $input.first().json.id;\n\n// Try multiple possible field paths for each value\nconst getName = () => {\n  return body.name || body.contact_name || body.customer_name || \n         body.lead?.name || body.contact?.name || body.customer?.name ||\n         (body.first_name ? `${body.first_name} ${body.last_name || ''}`.trim() : null) ||\n         body.data?.name || body.data?.contact_name || 'Unknown';\n};\n\nconst getPhone = () => {\n  return body.phone || body.phone_number || body.mobile || body.cell ||\n         body.contact_phone || body.customer_phone ||\n         body.lead?.phone || body.contact?.phone || body.customer?.phone ||\n         body.data?.phone || body.data?.phone_number || '';\n};\n\nconst getEmail = () => {\n  return body.email || body.email_address || body.contact_email ||\n         body.lead?.email || body.contact?.email || body.customer?.email ||\n         body.data?.email || '';\n};\n\nconst getServiceType = () => {\n  return body.service_type || body.service || body.project_type || body.type ||\n         body.lead?.service_type || body.job?.type ||\n         body.data?.service_type || body.description || 'home improvement';\n};\n\nconst getSource = () => {\n  return body.source || body.lead_source || body.referral_source ||\n         body.lead?.source || body.data?.source || 'webhook';\n};\n\nconst getJobtreadId = () => {\n  return body.id || body.lead_id || body.jobtread_id || body.job_id ||\n         body.lead?.id || body.data?.id || null;\n};\n\n// Phone normalization to E.164\nconst normalizePhone = (phone) => {\n  if (!phone) return null;\n  // Remove all non-digit characters\n  let digits = phone.toString().replace(/\\D/g, '');\n  \n  // Handle US numbers\n  if (digits.length === 10) {\n    return '+1' + digits;\n  } else if (digits.length === 11 && digits.startsWith('1')) {\n    return '+' + digits;\n  } else if (digits.length > 10) {\n    // Assume already has country code\n    return '+' + digits;\n  }\n  return null; // Invalid phone\n};\n\nconst phone = getPhone();\nconst phoneE164 = normalizePhone(phone);\n\nreturn {\n  json: {\n    payload_id: payloadId,\n    jobtread_id: getJobtreadId(),\n    name: getName(),\n    phone: phone,\n    phone_e164: phoneE164,\n    email: getEmail(),\n    service_type: getServiceType(),\n    source: getSource(),\n    valid_phone: phoneE164 !== null\n  }\n};"},"id":"extract-fields","name":"Extract Lead Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,304]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.valid_phone }}","value2":true}]},"options":{}},"id":"check-phone-valid","name":"Valid Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO leads (jobtread_id, name, phone, phone_e164, email, service_type, source, status, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, 'new', NOW()) RETURNING id, name, phone_e164, service_type","options":{"queryReplacement":"={{ [$json.jobtread_id, $json.name, $json.phone, $json.phone_e164, $json.email, $json.service_type, $json.source] }}"}},"id":"save-lead","name":"Save Lead","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1008,208],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Check Business Hours - Mountain Time (America/Denver) with DST\nconst lead = $input.first().json;\n\n// Get current time in Denver timezone\nconst now = new Date();\nconst denverOptions = { timeZone: 'America/Denver', hour12: false };\nconst denverTimeStr = now.toLocaleString('en-US', {\n  timeZone: 'America/Denver',\n  hour: '2-digit',\n  minute: '2-digit',\n  weekday: 'short',\n  hour12: false\n});\n\n// Parse Denver time components\nconst denverDate = new Date(now.toLocaleString('en-US', { timeZone: 'America/Denver' }));\nconst hour = denverDate.getHours();\nconst dayOfWeek = denverDate.getDay(); // 0 = Sunday\n\n// Business hours: 7am-7pm Mon-Sat (days 1-6)\nconst isBusinessDay = dayOfWeek >= 1 && dayOfWeek <= 6;\nconst isBusinessHours = hour >= 7 && hour < 19; // 7am to 7pm\nconst isOpen = isBusinessDay && isBusinessHours;\n\n// Calculate next business day 8am if currently closed\nlet nextOpenTime = null;\nif (!isOpen) {\n  const next = new Date(denverDate);\n  \n  if (dayOfWeek === 0) {\n    // Sunday -> Monday 8am\n    next.setDate(next.getDate() + 1);\n  } else if (dayOfWeek === 6 && hour >= 19) {\n    // Saturday after 7pm -> Monday 8am\n    next.setDate(next.getDate() + 2);\n  } else if (hour >= 19) {\n    // After hours weekday -> next day 8am\n    next.setDate(next.getDate() + 1);\n  }\n  // Else before 7am same day\n  \n  next.setHours(8, 0, 0, 0);\n  nextOpenTime = next.toISOString();\n}\n\nreturn {\n  json: {\n    ...lead,\n    is_business_hours: isOpen,\n    current_denver_time: denverTimeStr,\n    next_open_time: nextOpenTime,\n    hour: hour,\n    day_of_week: dayOfWeek\n  }\n};"},"id":"check-hours","name":"Check Business Hours","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,208]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.is_business_hours }}","value2":true}]},"options":{}},"id":"branch-hours","name":"Business Hours?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1408,208]},{"parameters":{"operation":"executeQuery","query":"SELECT sms_opted_out FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$json.id] }}"}},"id":"check-optout-immediate","name":"Check Opt-Out (Immediate)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1600,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"optout-check-immediate","name":"Not Opted Out?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1808,112]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'New Lead' }}"},{"name":"Priority","value":"4"},{"name":"Tags","value":"moneybag,lead"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'New lead received' }}","options":{}},"id":"send-sms-immediate","name":"Push: New Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2000,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET sms_sent_at = NOW(), status = 'contacted' WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"mark-sms-sent-immediate","name":"Mark SMS Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2208,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"resume":"specificTime","dateTime":"={{ $('Check Business Hours').first().json.next_open_time }}"},"id":"wait-until-open","name":"Wait Until 8am","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,304],"webhookId":"c8418253-39ab-448a-941e-5b11306e8715"},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, phone_e164, service_type, sms_opted_out FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"reload-lead-scheduled","name":"Reload Lead Data","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1808,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"optout-check-scheduled","name":"Not Opted Out? (Scheduled)","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,304]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'Scheduled Lead' }}"},{"name":"Priority","value":"4"},{"name":"Tags","value":"moneybag,lead"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'Scheduled lead' }}","options":{}},"id":"send-sms-scheduled","name":"Push: Scheduled Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2208,304]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET sms_sent_at = NOW(), status = 'contacted' WHERE id = $1","options":{"queryReplacement":"={{ [$json.id] }}"}},"id":"mark-sms-sent-scheduled","name":"Mark SMS Sent (Scheduled)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2400,304],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Merge SMS sent paths\nreturn $input.all();"},"id":"merge-sms","name":"Merge SMS Paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,208]},{"parameters":{"amount":2,"unit":"hours"},"id":"wait-2-hours","name":"Wait 2 Hours","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3008,208],"webhookId":"29e8cc62-2f7a-4fa8-9e30-a720598101d3"},{"parameters":{"operation":"executeQuery","query":"SELECT id, name, phone_e164, service_type, responded_at, sms_opted_out, followup_sent_at FROM leads WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Business Hours').first().json.id] }}"}},"id":"check-response","name":"Check Response","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3200,208],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.responded_at }}","operation":"isEmpty"}],"boolean":[{"value1":"={{ $json.sms_opted_out }}","value2":false}]},"options":{}},"id":"needs-followup","name":"Needs Follow-up?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3408,208]},{"parameters":{"method":"POST","url":"http://127.0.0.1:2586/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Title","value":"={{ $json.title || 'Follow-up Needed' }}"},{"name":"Priority","value":"3"},{"name":"Tags","value":"warning,followup"},{"name":"Content-Type","value":"text/plain"}]},"sendBody":true,"specifyBody":"raw","body":"={{ $json.message || $json.body || 'Lead needs follow-up' }}","options":{}},"id":"send-followup","name":"Push: Follow-up Needed","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3600,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE leads SET followup_sent_at = NOW() WHERE id = $1","options":{"queryReplacement":"={{ [$('Check Response').first().json.id] }}"}},"id":"mark-followup","name":"Mark Follow-up Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3808,112],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{"jsCode":"// Error Handler\nconst error = $input.first();\nlet errorMsg = '';\ntry {\n  errorMsg = error.json?.message || error.json?.error || JSON.stringify(error.json || {});\n} catch(e) {\n  errorMsg = 'Unknown error';\n}\n\nreturn {\n  json: {\n    workflow_name: 'Lead Response Automation',\n    node_name: 'Unknown',\n    error_message: errorMsg.substring(0, 2000),\n    raw_payload: error.json || {}\n  }\n};"},"id":"format-error","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,608]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO processing_errors (workflow_name, node_name, error_message, raw_payload, failed_at) VALUES ($1, $2, $3, $4::jsonb, NOW())","options":{"queryReplacement":"={{ [$json.workflow_name, $json.node_name, $json.error_message, JSON.stringify($json.raw_payload)] }}"}},"id":"log-error","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2208,608],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}}},{"parameters":{},"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[1808,608]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":phone: New Lead - SMS Sent\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $('Check Business Hours').first().json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $('Check Business Hours').first().json.phone_e164 }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Service:*\\n{{ $('Check Business Hours').first().json.service_type }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Source:*\\n{{ $('Extract Lead Fields').first().json.source }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $('Check Business Hours').first().json.id }} | Initial SMS sent | Followup in 2 hours\"}]}\n  ]\n}","text":"New lead SMS sent","otherOptions":{}},"id":"slack-sms-sent","name":"Slack: SMS Sent","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[2800,208],"webhookId":"c4d34291-67eb-496c-8d4c-1e3ad2808102","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":hourglass: Follow-up Sent (No Response)\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $('Check Response').first().json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $('Check Response').first().json.phone_e164 }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Service:*\\n{{ $('Check Response').first().json.service_type }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $('Check Response').first().json.id }} | No response after 2 hours | Follow-up SMS sent\"}]}\n  ]\n}","text":"Follow-up sent","otherOptions":{}},"id":"slack-followup","name":"Slack: Follow-up","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[4000,112],"webhookId":"d82ec3b3-8ee7-4731-9b41-a6b7ef9b81f6","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":white_check_mark: Lead Responded!\", \"emoji\": true}},\n    {\"type\": \"section\", \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $json.name }}\"},\n      {\"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n{{ $json.phone_e164 }}\"}\n    ]},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Lead ID: {{ $json.id }} | Responded at: {{ $json.responded_at }} | No follow-up needed\"}]}\n  ]\n}","text":"Lead responded","otherOptions":{}},"id":"slack-responded","name":"Slack: Responded","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[3600,304],"webhookId":"e2c1c577-841c-45b5-9e23-050a5698c821","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"#leads"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\"type\": \"header\", \"text\": {\"type\": \"plain_text\", \"text\": \":warning: Lead - Invalid Phone\", \"emoji\": true}},\n    {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"*Name:* {{ $json.name }}\\n*Phone:* {{ $json.phone }} (invalid)\\n*Email:* {{ $json.email }}\\n*Service:* {{ $json.service_type }}\"}},\n    {\"type\": \"context\", \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"Manual follow-up required - phone could not be normalized to E.164\"}]}\n  ]\n}","text":"Invalid phone lead","otherOptions":{}},"id":"slack-invalid-phone","name":"Slack: Invalid Phone","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1008,400],"webhookId":"369464ea-7978-4ea5-8b29-ceb0d4c05627","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}}],"connections":{"New Lead Webhook":{"main":[[{"node":"Log Raw Payload","type":"main","index":0}]]},"Log Raw Payload":{"main":[[{"node":"Extract Lead Fields","type":"main","index":0}]]},"Extract Lead Fields":{"main":[[{"node":"Valid Phone?","type":"main","index":0}]]},"Valid Phone?":{"main":[[{"node":"Save Lead","type":"main","index":0}],[{"node":"Slack: Invalid Phone","type":"0","index":0}]]},"Save Lead":{"main":[[{"node":"Check Business Hours","type":"main","index":0}]]},"Check Business Hours":{"main":[[{"node":"Business Hours?","type":"main","index":0}]]},"Business Hours?":{"main":[[{"node":"Check Opt-Out (Immediate)","type":"main","index":0}],[{"node":"Wait Until 8am","type":"main","index":0}]]},"Check Opt-Out (Immediate)":{"main":[[{"node":"Not Opted Out?","type":"main","index":0}]]},"Not Opted Out?":{"main":[[{"node":"Push: New Lead","type":"main","index":0}]]},"Push: New Lead":{"main":[[{"node":"Mark SMS Sent","type":"main","index":0}]]},"Mark SMS Sent":{"main":[[{"node":"Merge SMS Paths","type":"main","index":0}]]},"Wait Until 8am":{"main":[[{"node":"Reload Lead Data","type":"main","index":0}]]},"Reload Lead Data":{"main":[[{"node":"Not Opted Out? (Scheduled)","type":"main","index":0}]]},"Not Opted Out? (Scheduled)":{"main":[[{"node":"Push: Scheduled Lead","type":"main","index":0}]]},"Push: Scheduled Lead":{"main":[[{"node":"Mark SMS Sent (Scheduled)","type":"main","index":0}]]},"Mark SMS Sent (Scheduled)":{"main":[[{"node":"Merge SMS Paths","type":"main","index":0}]]},"Wait 2 Hours":{"main":[[{"node":"Check Response","type":"main","index":0}]]},"Check Response":{"main":[[{"node":"Needs Follow-up?","type":"main","index":0}]]},"Needs Follow-up?":{"main":[[{"node":"Push: Follow-up Needed","type":"main","index":0}],[{"node":"Slack: Responded","type":"0","index":0}]]},"Push: Follow-up Needed":{"main":[[{"node":"Mark Follow-up Sent","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Log Error","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error","type":"0","index":0}]]},"Merge SMS Paths":{"main":[[{"node":"Slack: SMS Sent","type":"0","index":0}]]},"Slack: SMS Sent":{"main":[[{"node":"Wait 2 Hours","type":"0","index":0}]]},"Mark Follow-up Sent":{"main":[[{"node":"Slack: Follow-up","type":"0","index":0}]]}},"authors":"Eric Okeefe","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-25T12:42:57.873Z","id":241,"workflowId":"lead-response-automation","versionId":"1e8f0591-f561-4432-a1b0-3d2869a65139","event":"activated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-03-25T12:42:57.852Z","id":240,"workflowId":"lead-response-automation","versionId":"1e8f0591-f561-4432-a1b0-3d2869a65139","event":"deactivated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}]}}