domains/automation/n8n/parts/workflows/12-voice-log.json
{"updatedAt":"2026-03-28T15:33:37.695Z","createdAt":"2026-03-23T23:58:41.035Z","id":"XAm7ehKjJers5NqC","name":"work_voice_log","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"daily-log","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook: Daily Log","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"daily-log"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst transcript = body?.transcript?.trim();\nif (!transcript) {\n  return [{ json: { isValid: false } }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    transcript: transcript,\n    date: body.date || new Date().toISOString().split('T')[0],\n    source: body.source || 'unknown'\n  }\n}];"},"id":"validate-transcript","name":"Validate Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-valid","name":"Has Transcript?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Transcript is required and cannot be empty\"\n}","options":{"responseCode":400}},"id":"respond-error","name":"Respond 400 Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,512]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"organization\": {\n      \"$\": { \"id\": \"22Nm3uFevXMb\" },\n      \"jobs\": {\n        \"nodes\": {\n          \"id\": {},\n          \"number\": {},\n          \"name\": {}\n        }\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"fetch-active-jobs","name":"Fetch Active JT Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304]},{"parameters":{"jsCode":"const validated = $('Validate Transcript').item.json;\nconst jobsResponse = $input.first().json;\n\nconst jobs = (jobsResponse.organization?.jobs?.nodes || []).map(j => ({\n  id: j.id,\n  number: j.number,\n  name: j.name,\n  account: j.name.split(' - ')[0] || 'Unknown'\n}));\n\nconst jobsList = jobs.map(j => `- #${j.number} ${j.name} (${j.account}) [ID: ${j.id}]`).join('\\n');\n\nconst systemPrompt = `You are a construction job costing assistant. Extract structured data from voice transcripts.\n\nACTIVE JOBS:\n${jobsList}\n\nTRADE CATEGORIES (use these cost code IDs):\n- Demo → 22Nm3uGRAMmJ (0200 Demolition)\n- Framing → 22Nm3uGRAMmN (0600 Framing)\n- Plumbing → 22Nm3uGRAMmT (1100 Plumbing)\n- Electrical → 22Nm3uGRAMmS (1000 Electrical)\n- Tile → 22Nm3uGRAMma (1800 Tiling)\n- Drywall → 22Nm3uGRAMmW (1400 Drywall)\n- Painting → 22Nm3uGRAMmf (2300 Painting)\n- Finish Carpentry → 22Nm3uGRAMmb (1900 Cabinetry)\n- Admin → 22Nm3uGRAMmH (0100 Planning)\n\nOUTPUT JSON SCHEMA:\n{\n  \"job_match\": {\n    \"job_id\": \"string (from active jobs list)\",\n    \"job_name\": \"string\",\n    \"job_number\": \"string\",\n    \"confidence\": \"high\" | \"medium\" | \"low\"\n  },\n  \"time_entries\": [\n    {\n      \"trade\": \"string (category name)\",\n      \"cost_code_id\": \"string (from mappings above)\",\n      \"hours\": number,\n      \"description\": \"string (what was done)\"\n    }\n  ],\n  \"materials\": [\n    {\n      \"item\": \"string\",\n      \"quantity\": number,\n      \"unit\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"conditions\": [\n    {\n      \"type\": \"issue\" | \"delay\" | \"change\" | \"note\",\n      \"description\": \"string\"\n    }\n  ],\n  \"daily_log_summary\": \"string (2-3 sentence summary for JT daily log)\",\n  \"tomorrow_plan\": \"string (if mentioned)\"\n}\n\nRules:\n- Match job by name/number mentioned in transcript\n- If unsure which job, set confidence to \"low\"\n- Sum up hours by trade category\n- Extract any materials purchased or used\n- Note any issues, delays, or changes\n- Return ONLY valid JSON, no markdown`;\n\nreturn [{\n  json: {\n    transcript: validated.transcript,\n    date: validated.date,\n    source: validated.source,\n    systemPrompt: systemPrompt,\n    activeJobs: jobs\n  }\n}];"},"id":"prepare-claude-prompt","name":"Prepare Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.transcript) }}\n    }\n  ]\n}","options":{"timeout":60000}},"id":"call-claude","name":"Call Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304]},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst context = $('Prepare Claude Prompt').item.json;\n\nlet content = claudeResponse.content?.[0]?.text || '';\n\n// Try to parse JSON from response\nlet parsed;\ntry {\n  // Handle potential markdown code blocks\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/) || content.match(/```\\s*([\\s\\S]*?)```/);\n  const jsonStr = jsonMatch ? jsonMatch[1].trim() : content.trim();\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error(`Failed to parse Claude response: ${e.message}`);\n}\n\nconst totalHours = (parsed.time_entries || []).reduce((sum, e) => sum + (e.hours || 0), 0);\n\nreturn [{\n  json: {\n    ...parsed,\n    date: context.date,\n    source: context.source,\n    transcript: context.transcript,\n    total_hours: totalHours,\n    entries_count: (parsed.time_entries || []).length\n  }\n}];"},"id":"parse-claude-response","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"confidence-check","leftValue":"={{ $json.job_match?.confidence }}","rightValue":"low","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"check-confidence","name":"Check Confidence","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,304]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09V251ABV1","mode":"list","cachedResultName":"social"},"text":"=:warning: *Voice Log Needs Review*\n\n*Transcript:*\n> {{ $json.transcript.substring(0, 300) }}{{ $json.transcript.length > 300 ? '...' : '' }}\n\n*Matched Job:* {{ $json.job_match?.job_name || 'Unknown' }} (#{{ $json.job_match?.job_number || '?' }})\n*Confidence:* LOW\n\n*Extracted:*\n- Hours: {{ $json.total_hours }}\n- Entries: {{ $json.entries_count }}\n\n_Please review and manually enter in JobTread_","otherOptions":{}},"id":"slack-low-confidence","name":"Slack: Low Confidence Alert","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2000,512],"webhookId":"ff1c4b84-1973-4d2e-bed7-be825f3896eb","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"status\": \"needs_review\",\n  \"job\": \"{{ $json.job_match?.job_name || 'Unknown' }}\",\n  \"confidence\": \"low\",\n  \"message\": \"Low confidence match - sent to Slack for review\"\n}","options":{"responseCode":200}},"id":"respond-low-confidence","name":"Respond Low Confidence","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2224,512]},{"parameters":{"jsCode":"const parsed = $input.first().json;\nconst timeEntries = parsed.time_entries || [];\n\nreturn timeEntries.map(entry => ({\n  json: {\n    ...entry,\n    job_id: parsed.job_match.job_id,\n    date: parsed.date,\n    user_id: '22Nm3uFeRB7s',\n    parsed_data: parsed\n  }\n}));"},"id":"prepare-time-entries","name":"Prepare Time Entries","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,304]},{"parameters":{"options":{}},"id":"loop-time-entries","name":"Loop Time Entries","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createTimeEntry\": {\n      \"$\": {\n        \"jobId\": \"{{ $json.job_id }}\",\n        \"userId\": \"{{ $json.user_id }}\",\n        \"startedAt\": \"{{ $json.date }}T08:00:00-07:00\",\n        \"endedAt\": \"{{ $json.date }}T{{ String(8 + Math.floor($json.hours)).padStart(2, '0') }}:{{ String(Math.round(($json.hours % 1) * 60)).padStart(2, '0') }}:00-07:00\",\n        \"notes\": \"{{ $json.description.replace(/\"/g, '\\\\\"') }}\",\n        \"isApproved\": true\n      },\n      \"createdTimeEntry\": {\n        \"id\": {},\n        \"notes\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-time-entry","name":"Create JT Time Entry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createDailyLog\": {\n      \"$\": {\n        \"jobId\": \"{{ $('Parse Claude Response').item.json.job_match.job_id }}\",\n        \"date\": \"{{ $('Parse Claude Response').item.json.date }}\",\n        \"notes\": \"{{ $('Parse Claude Response').item.json.daily_log_summary.replace(/\"/g, '\\\\\"') }}\"\n      },\n      \"createdDailyLog\": {\n        \"id\": {},\n        \"notes\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-daily-log","name":"Create JT Daily Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.daily_logs (\n  job_id, job_name, date, total_hours, time_entries, materials, conditions, tomorrow_plan, raw_transcript, source, created_at\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, NOW()\n) RETURNING id;","options":{"queryReplacement":"={{ [$('Parse Claude Response').item.json.job_match.job_id, $('Parse Claude Response').item.json.job_match.job_name, $('Parse Claude Response').item.json.date, $('Parse Claude Response').item.json.total_hours, JSON.stringify($('Parse Claude Response').item.json.time_entries || []), JSON.stringify($('Parse Claude Response').item.json.materials || []), JSON.stringify($('Parse Claude Response').item.json.conditions || []), $('Parse Claude Response').item.json.tomorrow_plan || null, $('Parse Claude Response').item.json.transcript, $('Parse Claude Response').item.json.source] }}"}},"id":"insert-postgres","name":"Insert into Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2880,304],"credentials":{"postgres":{"id":"iXtijdayy9OMPQvY","name":"HWC Postgres"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0ANNLYNQ92","mode":"list","cachedResultName":"leads"},"text":"=:white_check_mark: *Daily Log Recorded*\n\n*Job:* {{ $('Parse Claude Response').item.json.job_match.job_name }} (#{{ $('Parse Claude Response').item.json.job_match.job_number }})\n*Date:* {{ $('Parse Claude Response').item.json.date }}\n*Total Hours:* {{ $('Parse Claude Response').item.json.total_hours }}\n\n*Time Entries:*\n{{ $('Parse Claude Response').item.json.time_entries.map(e => `• ${e.trade}: ${e.hours}h - ${e.description}`).join('\\n') }}\n\n{{ $('Parse Claude Response').item.json.materials?.length ? '*Materials:*\\n' + $('Parse Claude Response').item.json.materials.map(m => `• ${m.item} (${m.quantity} ${m.unit})`).join('\\n') : '' }}\n\n{{ $('Parse Claude Response').item.json.tomorrow_plan ? '*Tomorrow:* ' + $('Parse Claude Response').item.json.tomorrow_plan : '' }}","otherOptions":{}},"id":"slack-success","name":"Slack: Success","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[3104,304],"webhookId":"e34a1cb6-5b99-4299-baef-e4632dc458ac","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"job\": \"{{ $('Parse Claude Response').item.json.job_match.job_name }}\",\n  \"hours_logged\": {{ $('Parse Claude Response').item.json.total_hours }},\n  \"entries_count\": {{ $('Parse Claude Response').item.json.entries_count }}\n}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3328,304]}],"connections":{"Webhook: Daily Log":{"main":[[{"node":"Validate Transcript","type":"main","index":0}]]},"Validate Transcript":{"main":[[{"node":"Has Transcript?","type":"main","index":0}]]},"Has Transcript?":{"main":[[{"node":"Fetch Active JT Jobs","type":"main","index":0}],[{"node":"Respond 400 Error","type":"main","index":0}]]},"Fetch Active JT Jobs":{"main":[[{"node":"Prepare Claude Prompt","type":"main","index":0}]]},"Prepare Claude Prompt":{"main":[[{"node":"Call Claude API","type":"main","index":0}]]},"Call Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Check Confidence","type":"main","index":0}]]},"Check Confidence":{"main":[[{"node":"Prepare Time Entries","type":"main","index":0}],[{"node":"Slack: Low Confidence Alert","type":"main","index":0}]]},"Slack: Low Confidence Alert":{"main":[[{"node":"Respond Low Confidence","type":"main","index":0}]]},"Prepare Time Entries":{"main":[[{"node":"Loop Time Entries","type":"main","index":0}]]},"Loop Time Entries":{"main":[[{"node":"Create JT Time Entry","type":"main","index":0}],[{"node":"Create JT Daily Log","type":"main","index":0}]]},"Create JT Time Entry":{"main":[[{"node":"Loop Time Entries","type":"main","index":0}]]},"Create JT Daily Log":{"main":[[{"node":"Insert into Postgres","type":"main","index":0}]]},"Insert into Postgres":{"main":[[{"node":"Slack: Success","type":"main","index":0}]]},"Slack: Success":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Denver","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","activeVersionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","versionCounter":36,"triggerCount":1,"shared":[{"updatedAt":"2026-03-23T23:58:41.037Z","createdAt":"2026-03-23T23:58:41.037Z","role":"workflow:owner","workflowId":"XAm7ehKjJers5NqC","projectId":"bMO3z9r4NHgNWOF3","project":{"updatedAt":"2025-12-08T06:53:46.444Z","createdAt":"2025-12-07T21:24:43.325Z","id":"bMO3z9r4NHgNWOF3","name":"Eric Okeefe <eric@iheartwoodcraft.com>","type":"personal","icon":null,"description":null,"creatorId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T15:33:37.696Z","createdAt":"2026-03-28T15:33:37.696Z","versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","workflowId":"XAm7ehKjJers5NqC","nodes":[{"parameters":{"httpMethod":"POST","path":"daily-log","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook: Daily Log","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"daily-log"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nconst transcript = body?.transcript?.trim();\nif (!transcript) {\n  return [{ json: { isValid: false } }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    transcript: transcript,\n    date: body.date || new Date().toISOString().split('T')[0],\n    source: body.source || 'unknown'\n  }\n}];"},"id":"validate-transcript","name":"Validate Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-valid","name":"Has Transcript?","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304]},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"Transcript is required and cannot be empty\"\n}","options":{"responseCode":400}},"id":"respond-error","name":"Respond 400 Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,512]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"organization\": {\n      \"$\": { \"id\": \"22Nm3uFevXMb\" },\n      \"jobs\": {\n        \"nodes\": {\n          \"id\": {},\n          \"number\": {},\n          \"name\": {}\n        }\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"fetch-active-jobs","name":"Fetch Active JT Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304]},{"parameters":{"jsCode":"const validated = $('Validate Transcript').item.json;\nconst jobsResponse = $input.first().json;\n\nconst jobs = (jobsResponse.organization?.jobs?.nodes || []).map(j => ({\n  id: j.id,\n  number: j.number,\n  name: j.name,\n  account: j.name.split(' - ')[0] || 'Unknown'\n}));\n\nconst jobsList = jobs.map(j => `- #${j.number} ${j.name} (${j.account}) [ID: ${j.id}]`).join('\\n');\n\nconst systemPrompt = `You are a construction job costing assistant. Extract structured data from voice transcripts.\n\nACTIVE JOBS:\n${jobsList}\n\nTRADE CATEGORIES (use these cost code IDs):\n- Demo → 22Nm3uGRAMmJ (0200 Demolition)\n- Framing → 22Nm3uGRAMmN (0600 Framing)\n- Plumbing → 22Nm3uGRAMmT (1100 Plumbing)\n- Electrical → 22Nm3uGRAMmS (1000 Electrical)\n- Tile → 22Nm3uGRAMma (1800 Tiling)\n- Drywall → 22Nm3uGRAMmW (1400 Drywall)\n- Painting → 22Nm3uGRAMmf (2300 Painting)\n- Finish Carpentry → 22Nm3uGRAMmb (1900 Cabinetry)\n- Admin → 22Nm3uGRAMmH (0100 Planning)\n\nOUTPUT JSON SCHEMA:\n{\n  \"job_match\": {\n    \"job_id\": \"string (from active jobs list)\",\n    \"job_name\": \"string\",\n    \"job_number\": \"string\",\n    \"confidence\": \"high\" | \"medium\" | \"low\"\n  },\n  \"time_entries\": [\n    {\n      \"trade\": \"string (category name)\",\n      \"cost_code_id\": \"string (from mappings above)\",\n      \"hours\": number,\n      \"description\": \"string (what was done)\"\n    }\n  ],\n  \"materials\": [\n    {\n      \"item\": \"string\",\n      \"quantity\": number,\n      \"unit\": \"string\",\n      \"notes\": \"string\"\n    }\n  ],\n  \"conditions\": [\n    {\n      \"type\": \"issue\" | \"delay\" | \"change\" | \"note\",\n      \"description\": \"string\"\n    }\n  ],\n  \"daily_log_summary\": \"string (2-3 sentence summary for JT daily log)\",\n  \"tomorrow_plan\": \"string (if mentioned)\"\n}\n\nRules:\n- Match job by name/number mentioned in transcript\n- If unsure which job, set confidence to \"low\"\n- Sum up hours by trade category\n- Extract any materials purchased or used\n- Note any issues, delays, or changes\n- Return ONLY valid JSON, no markdown`;\n\nreturn [{\n  json: {\n    transcript: validated.transcript,\n    date: validated.date,\n    source: validated.source,\n    systemPrompt: systemPrompt,\n    activeJobs: jobs\n  }\n}];"},"id":"prepare-claude-prompt","name":"Prepare Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,304]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2048,\n  \"system\": {{ JSON.stringify($json.systemPrompt) }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.transcript) }}\n    }\n  ]\n}","options":{"timeout":60000}},"id":"call-claude","name":"Call Claude API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304]},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst context = $('Prepare Claude Prompt').item.json;\n\nlet content = claudeResponse.content?.[0]?.text || '';\n\n// Try to parse JSON from response\nlet parsed;\ntry {\n  // Handle potential markdown code blocks\n  const jsonMatch = content.match(/```json\\s*([\\s\\S]*?)```/) || content.match(/```\\s*([\\s\\S]*?)```/);\n  const jsonStr = jsonMatch ? jsonMatch[1].trim() : content.trim();\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error(`Failed to parse Claude response: ${e.message}`);\n}\n\nconst totalHours = (parsed.time_entries || []).reduce((sum, e) => sum + (e.hours || 0), 0);\n\nreturn [{\n  json: {\n    ...parsed,\n    date: context.date,\n    source: context.source,\n    transcript: context.transcript,\n    total_hours: totalHours,\n    entries_count: (parsed.time_entries || []).length\n  }\n}];"},"id":"parse-claude-response","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"confidence-check","leftValue":"={{ $json.job_match?.confidence }}","rightValue":"low","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"check-confidence","name":"Check Confidence","type":"n8n-nodes-base.if","typeVersion":2,"position":[1792,304]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C09V251ABV1","mode":"list","cachedResultName":"social"},"text":"=:warning: *Voice Log Needs Review*\n\n*Transcript:*\n> {{ $json.transcript.substring(0, 300) }}{{ $json.transcript.length > 300 ? '...' : '' }}\n\n*Matched Job:* {{ $json.job_match?.job_name || 'Unknown' }} (#{{ $json.job_match?.job_number || '?' }})\n*Confidence:* LOW\n\n*Extracted:*\n- Hours: {{ $json.total_hours }}\n- Entries: {{ $json.entries_count }}\n\n_Please review and manually enter in JobTread_","otherOptions":{}},"id":"slack-low-confidence","name":"Slack: Low Confidence Alert","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2000,512],"webhookId":"ff1c4b84-1973-4d2e-bed7-be825f3896eb","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"status\": \"needs_review\",\n  \"job\": \"{{ $json.job_match?.job_name || 'Unknown' }}\",\n  \"confidence\": \"low\",\n  \"message\": \"Low confidence match - sent to Slack for review\"\n}","options":{"responseCode":200}},"id":"respond-low-confidence","name":"Respond Low Confidence","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2224,512]},{"parameters":{"jsCode":"const parsed = $input.first().json;\nconst timeEntries = parsed.time_entries || [];\n\nreturn timeEntries.map(entry => ({\n  json: {\n    ...entry,\n    job_id: parsed.job_match.job_id,\n    date: parsed.date,\n    user_id: '22Nm3uFeRB7s',\n    parsed_data: parsed\n  }\n}));"},"id":"prepare-time-entries","name":"Prepare Time Entries","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,304]},{"parameters":{"options":{}},"id":"loop-time-entries","name":"Loop Time Entries","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createTimeEntry\": {\n      \"$\": {\n        \"jobId\": \"{{ $json.job_id }}\",\n        \"userId\": \"{{ $json.user_id }}\",\n        \"startedAt\": \"{{ $json.date }}T08:00:00-07:00\",\n        \"endedAt\": \"{{ $json.date }}T{{ String(8 + Math.floor($json.hours)).padStart(2, '0') }}:{{ String(Math.round(($json.hours % 1) * 60)).padStart(2, '0') }}:00-07:00\",\n        \"notes\": \"{{ $json.description.replace(/\"/g, '\\\\\"') }}\",\n        \"isApproved\": true\n      },\n      \"createdTimeEntry\": {\n        \"id\": {},\n        \"notes\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-time-entry","name":"Create JT Time Entry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,304]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {\n    \"$\": { \"grantKey\": \"{{ $env.JOBTREAD_GRANT_KEY }}\" },\n    \"createDailyLog\": {\n      \"$\": {\n        \"jobId\": \"{{ $('Parse Claude Response').item.json.job_match.job_id }}\",\n        \"date\": \"{{ $('Parse Claude Response').item.json.date }}\",\n        \"notes\": \"{{ $('Parse Claude Response').item.json.daily_log_summary.replace(/\"/g, '\\\\\"') }}\"\n      },\n      \"createdDailyLog\": {\n        \"id\": {},\n        \"notes\": {}\n      }\n    }\n  }\n}","options":{"timeout":15000}},"id":"create-jt-daily-log","name":"Create JT Daily Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,304]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.daily_logs (\n  job_id, job_name, date, total_hours, time_entries, materials, conditions, tomorrow_plan, raw_transcript, source, created_at\n) VALUES (\n  $1, $2, $3, $4, $5::jsonb, $6::jsonb, $7::jsonb, $8, $9, $10, NOW()\n) RETURNING id;","options":{"queryReplacement":"={{ [$('Parse Claude Response').item.json.job_match.job_id, $('Parse Claude Response').item.json.job_match.job_name, $('Parse Claude Response').item.json.date, $('Parse Claude Response').item.json.total_hours, JSON.stringify($('Parse Claude Response').item.json.time_entries || []), JSON.stringify($('Parse Claude Response').item.json.materials || []), JSON.stringify($('Parse Claude Response').item.json.conditions || []), $('Parse Claude Response').item.json.tomorrow_plan || null, $('Parse Claude Response').item.json.transcript, $('Parse Claude Response').item.json.source] }}"}},"id":"insert-postgres","name":"Insert into Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2880,304],"credentials":{"postgres":{"id":"iXtijdayy9OMPQvY","name":"HWC Postgres"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0ANNLYNQ92","mode":"list","cachedResultName":"leads"},"text":"=:white_check_mark: *Daily Log Recorded*\n\n*Job:* {{ $('Parse Claude Response').item.json.job_match.job_name }} (#{{ $('Parse Claude Response').item.json.job_match.job_number }})\n*Date:* {{ $('Parse Claude Response').item.json.date }}\n*Total Hours:* {{ $('Parse Claude Response').item.json.total_hours }}\n\n*Time Entries:*\n{{ $('Parse Claude Response').item.json.time_entries.map(e => `• ${e.trade}: ${e.hours}h - ${e.description}`).join('\\n') }}\n\n{{ $('Parse Claude Response').item.json.materials?.length ? '*Materials:*\\n' + $('Parse Claude Response').item.json.materials.map(m => `• ${m.item} (${m.quantity} ${m.unit})`).join('\\n') : '' }}\n\n{{ $('Parse Claude Response').item.json.tomorrow_plan ? '*Tomorrow:* ' + $('Parse Claude Response').item.json.tomorrow_plan : '' }}","otherOptions":{}},"id":"slack-success","name":"Slack: Success","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[3104,304],"webhookId":"e34a1cb6-5b99-4299-baef-e4632dc458ac","credentials":{"slackOAuth2Api":{"id":"WdIG3sOZkvyMHnPA","name":"Slack account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"job\": \"{{ $('Parse Claude Response').item.json.job_match.job_name }}\",\n  \"hours_logged\": {{ $('Parse Claude Response').item.json.total_hours }},\n  \"entries_count\": {{ $('Parse Claude Response').item.json.entries_count }}\n}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3328,304]}],"connections":{"Webhook: Daily Log":{"main":[[{"node":"Validate Transcript","type":"main","index":0}]]},"Validate Transcript":{"main":[[{"node":"Has Transcript?","type":"main","index":0}]]},"Has Transcript?":{"main":[[{"node":"Fetch Active JT Jobs","type":"main","index":0}],[{"node":"Respond 400 Error","type":"main","index":0}]]},"Fetch Active JT Jobs":{"main":[[{"node":"Prepare Claude Prompt","type":"main","index":0}]]},"Prepare Claude Prompt":{"main":[[{"node":"Call Claude API","type":"main","index":0}]]},"Call Claude API":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Check Confidence","type":"main","index":0}]]},"Check Confidence":{"main":[[{"node":"Prepare Time Entries","type":"main","index":0}],[{"node":"Slack: Low Confidence Alert","type":"main","index":0}]]},"Slack: Low Confidence Alert":{"main":[[{"node":"Respond Low Confidence","type":"main","index":0}]]},"Prepare Time Entries":{"main":[[{"node":"Loop Time Entries","type":"main","index":0}]]},"Loop Time Entries":{"main":[[{"node":"Create JT Time Entry","type":"main","index":0}],[{"node":"Create JT Daily Log","type":"main","index":0}]]},"Create JT Time Entry":{"main":[[{"node":"Loop Time Entries","type":"main","index":0}]]},"Create JT Daily Log":{"main":[[{"node":"Insert into Postgres","type":"main","index":0}]]},"Insert into Postgres":{"main":[[{"node":"Slack: Success","type":"main","index":0}]]},"Slack: Success":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"authors":"Eric Okeefe","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T15:33:37.754Z","id":293,"workflowId":"XAm7ehKjJers5NqC","versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","event":"activated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-03-28T15:33:37.833Z","id":295,"workflowId":"XAm7ehKjJers5NqC","versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","event":"activated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-03-28T15:33:37.733Z","id":292,"workflowId":"XAm7ehKjJers5NqC","versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","event":"deactivated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-03-28T15:33:37.792Z","id":294,"workflowId":"XAm7ehKjJers5NqC","versionId":"d8839815-712e-4b63-a04f-b9fc78ba2c84","event":"deactivated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}]}}