workspace/media/n8n-workflows/hwc-alerts-workflows.json
{
  "workflows": [
    {
      "name": "HWC System Alerts",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "system-alerts",
            "responseMode": "onReceived",
            "responseData": "allEntries"
          },
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [250, 300]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{$env.SLACK_WEBHOOK_URL}}",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.severity_tag }} {{ $json.title }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.message }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Host:* {{ $json.hostname }} | *Time:* {{ $json.timestamp }}\"\n        }\n      ]\n    }\n  ]\n}",
            "options": {}
          },
          "name": "Post to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [450, 300]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [[{"node": "Post to Slack", "type": "main", "index": 0}]]
        }
      },
      "active": true
    },
    {
      "name": "HWC Backup Alerts",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "backup-alerts",
            "responseMode": "onReceived",
            "responseData": "allEntries"
          },
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [250, 300]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{$env.SLACK_WEBHOOK_URL}}",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.severity === 'critical' ? '🔴' : '✅' }} Backup: {{ $json.title }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.message }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Type:* {{ $json.backup_type || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Status:* {{ $json.status || $json.severity }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Host:* {{ $json.hostname }} | *Time:* {{ $json.timestamp }}\"\n        }\n      ]\n    }\n  ]\n}",
            "options": {}
          },
          "name": "Post to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [450, 300]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [[{"node": "Post to Slack", "type": "main", "index": 0}]]
        }
      },
      "active": true
    },
    {
      "name": "HWC Disk Alerts",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "disk-alerts",
            "responseMode": "onReceived",
            "responseData": "allEntries"
          },
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [250, 300]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{$env.SLACK_WEBHOOK_URL}}",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"{{ $json.severity === 'critical' ? '🔴' : '⚠️' }} {{ $json.title }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.message }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Device:* {{ $json.device || $json.filesystem || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Usage:* {{ $json.usage_percent || 'N/A' }}%\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Host:* {{ $json.hostname }} | *Source:* {{ $json.source || 'disk-monitor' }}\"\n        }\n      ]\n    }\n  ]\n}",
            "options": {}
          },
          "name": "Post to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [450, 300]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [[{"node": "Post to Slack", "type": "main", "index": 0}]]
        }
      },
      "active": true
    },
    {
      "name": "HWC Service Alerts",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "service-alerts",
            "responseMode": "onReceived",
            "responseData": "allEntries"
          },
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [250, 300]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "={{$env.SLACK_WEBHOOK_URL}}",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🔴 Service Failed: {{ $json.service || $json.title }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.message }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Recent Logs:*\\n```{{ $json.recent_logs ? $json.recent_logs.substring(0, 500) : 'No logs available' }}```\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Host:* {{ $json.hostname }} | *Time:* {{ $json.timestamp }}\"\n        }\n      ]\n    }\n  ]\n}",
            "options": {}
          },
          "name": "Post to Slack",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [450, 300]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [[{"node": "Post to Slack", "type": "main", "index": 0}]]
        }
      },
      "active": true
    }
  ]
}
