domains/business/leads/parts/workflows/work_calculator_lead-v2-fat-archive-2026-05-31.json
{"updatedAt":"2026-05-08T15:57:19.436Z","createdAt":"2026-03-23T23:51:24.643Z","id":"SoLwmxgkMILrOYbP","name":"work_calculator_lead","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"calculator-lead","responseMode":"responseNode","options":{}},"id":"3a438f8f-9d2d-4fb6-99b4-a50434693b25","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[992,224],"webhookId":"10c75450-2b55-4da9-a6a2-3695b38119b8","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Validate + extract + generate report ID\nconst body = $input.first().json.body || $input.first().json;\n\nconst contact = body.contact || {};\nconst projectState = body.projectState || {};\nconst estimate = body.estimate || {};\n\n// Validate required fields (phone is optional — gate submissions have name+email only)\nif (!contact.name || !contact.email) {\n  throw new Error('Missing required contact fields: name, email');\n}\nif (!body.calculator && !body.project_type) {\n  if (projectState.deck_size || projectState.deck_height || projectState.material) {\n    body.calculator = 'deck';\n  } else {\n    body.calculator = 'bathroom';\n  }\n}\n\n// Generate 8-char report ID\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet reportId = '';\nfor (let i = 0; i < 8; i++) reportId += chars[Math.floor(Math.random() * chars.length)];\n\n// Parse name\nconst nameParts = contact.name.trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\nconst calcType = (body.calculator || 'bathroom');\nconst calcLabel = calcType === 'deck' ? 'Deck' : 'Bathroom';\n\n// Format selections for JT job description\nconst stateEntries = Object.entries(projectState)\n  .filter(([k]) => k !== 'features')\n  .map(([k, v]) => `${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n  .join('\\n');\n\nconst features = (projectState.features || []).join(', ').replace(/_/g, ' ');\n\nconst jobDescription = [\n  `Calculator: ${calcLabel}`,\n  `Estimate: $${(estimate.low || 0).toLocaleString()} \\u2013 $${(estimate.high || 0).toLocaleString()}`,\n  '',\n  stateEntries,\n  features ? `Features: ${features}` : '',\n  '',\n  contact.preferred_date ? `Preferred call: ${contact.preferred_date}, ${contact.preferred_time || 'any time'}` : '',\n  contact.notes ? `Notes: ${contact.notes}` : '',\n  '',\n  `Report: https://heartwoodcraft.me/report/?id=${reportId}`\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...body,\n    report_id: reportId,\n    calculator: calcType,\n    calc_label: calcLabel,\n    contact_name: contact.name,\n    contact_phone: contact.phone || null,\n    contact_email: contact.email,\n    contact_notes: contact.notes || '',\n    first_name: firstName,\n    last_name: lastName,\n    project_state: projectState,\n    estimate_low: estimate.low || 0,\n    estimate_high: estimate.high || 0,\n    preferred_date: contact.preferred_date || null,\n    preferred_time: contact.preferred_time || null,\n    attribution: body.attribution || null,\n    landing_page: body.landing_page || '',\n    referrer: body.referrer || '',\n    source_page: body.source_page || '',\n    job_description: jobDescription,\n    report_url: `https://heartwoodcraft.me/report/?id=${reportId}`,\n    jt_source_value: 'Website Calculator',\n    jt_job_type: calcLabel,\n    jt_job_name: `${contact.name}'s ${calcLabel} Project`.slice(0, 30)\n  }\n}];"},"id":"4485a630-a486-4b22-a4ea-09fb8357b9a2","name":"Extract & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,224]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, reportUrl: $json.report_url, reportId: $json.report_id }) }}","options":{"responseCode":200}},"id":"2f9d401a-220b-4f9d-94cf-fad856f6a0f2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1456,224]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.calculator_leads (\n  report_id, calculator, contact_name, contact_phone, contact_email, contact_notes,\n  project_state, estimate_low, estimate_high, preferred_date, preferred_time,\n  attribution, landing_page, referrer, source_page\n) VALUES (\n  '{{ $json.report_id }}',\n  '{{ $json.calculator }}',\n  '{{ $json.contact_name.replace(/'/g, \"''\") }}',\n  '{{ $json.contact_phone }}',\n  '{{ $json.contact_email }}',\n  '{{ ($json.contact_notes || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.project_state).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.estimate_low }},\n  {{ $json.estimate_high }},\n  {{ $json.preferred_date ? \"'\" + $json.preferred_date + \"'\" : 'NULL' }},\n  {{ $json.preferred_time ? \"'\" + $json.preferred_time + \"'\" : 'NULL' }},\n  {{ $json.attribution ? \"'\" + JSON.stringify($json.attribution).replace(/'/g, \"''\") + \"'::jsonb\" : 'NULL' }},\n  '{{ ($json.landing_page || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.referrer || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.source_page || '').replace(/'/g, \"''\") }}'\n) RETURNING id, report_id;","options":{}},"id":"ba79df6f-e479-4aec-bf26-cd5c0e4acc5f","name":"Postgres: Archive Lead","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1456,416],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst lo = (data.estimate_low || 0).toLocaleString();\nconst hi = (data.estimate_high || 0).toLocaleString();\nconst calcLabel = data.calc_label || 'Project';\nconst firstName = data.first_name || data.contact_name || 'there';\nconst reportUrl = data.report_url;\n\nconst ps = data.project_state || {};\nconst features = (ps.features || []).join(', ').replace(/_/g, ' ');\nconst stateEntries = Object.entries(ps)\n  .filter(([k]) => k !== 'features')\n  .map(([k, v]) => `  ${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n  .join('\\n');\n\nconst subject = `Your ${calcLabel} project summary from Heartwood Craft`;\n\nconst body = [\n  `Hi ${firstName},`,\n  ``,\n  `Thanks for using the Heartwood Craft calculator. Here's a quick recap of your ${calcLabel.toLowerCase()} project:`,\n  ``,\n  `Estimated range: $${lo} – $${hi}`,\n  ``,\n  `Your selections:`,\n  stateEntries,\n  features ? `  features: ${features}` : '',\n  ``,\n  `View your full project summary here:`,\n  reportUrl,\n  ``,\n  `What happens next:`,\n  `  1. I'll give you a call to discuss your project and answer questions.`,\n  `  2. We schedule a site visit (about 45 minutes at your home).`,\n  `  3. I send you an itemized estimate, walked through together.`,\n  `  4. If we're a fit, we set a start date.`,\n  ``,\n  `These ranges come from real Heartwood Craft jobs in the Gallatin Valley — not national averages. Your actual cost depends on site conditions, exact dimensions, and final material selections we'd nail down on the site visit.`,\n  ``,\n  `Talk soon,`,\n  ``,\n  `Eric O'Keefe`,\n  `Heartwood Craft`,\n  `406-551-5061`,\n  `eric@iheartwoodcraft.com`,\n  `https://heartwoodcraft.me`,\n].filter(s => s !== false).join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    email_to: data.contact_email,\n    email_subject: subject,\n    email_body: body,\n  }\n}];"},"id":"d7ea7504-92f7-48cb-84d3-9908df4d38ff","name":"Prep Customer Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,608]},{"parameters":{"operation":"executeQuery","query":"UPDATE hwc.calculator_leads\nSET email_sent = true, email_sent_at = now()\nWHERE report_id = '{{ $json.report_id }}';","options":{}},"id":"8c43fae6-7249-455e-b6ef-41b633a3ffae","name":"Postgres: Mark Email Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2080,576],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prep Calendar Event for khal\nconst data = $input.first().json;\n\nconst timeMap = {\n  morning:   { start: '09:00', end: '09:15' },\n  afternoon: { start: '13:00', end: '13:15' },\n  evening:   { start: '17:00', end: '17:15' },\n};\n\nconst tomorrow = new Date(Date.now() + 86400000).toISOString().split('T')[0];\nconst dateStr = data.preferred_date || tomorrow;\nconst times = timeMap[data.preferred_time] || timeMap.morning;\n\nconst name = (data.contact_name || '').replace(/\"/g, '\\\\\"');\nconst phone = (data.contact_phone || '').replace(/\"/g, '\\\\\"');\nconst calcType = data.calculator || 'bathroom';\nconst projectType = (data.project_state.project_type || '').replace(/\"/g, '\\\\\"');\nconst estLow = data.estimate_low;\nconst estHigh = data.estimate_high;\n\nconst noDate = !data.preferred_date;\nconst noTime = !data.preferred_time;\n\nconst descParts = [\n  `Phone: ${phone}`,\n  `Email: ${data.contact_email || 'n/a'}`,\n  `Project: ${projectType}`,\n  `Est: $${estLow}-$${estHigh}`,\n  noDate ? 'NO DATE SET - defaulted to tomorrow' : '',\n  noTime ? 'No time pref - defaulted to 9am' : '',\n].filter(Boolean).join(', ');\n\nconst khal_command = [\n  'khal new',\n  `${dateStr} ${times.start}`,\n  `${dateStr} ${times.end}`,\n  `\"Call ${name} - ${phone} (${calcType})\"`,\n  '::',\n  `\"${descParts}\"`,\n].join(' ');\n\nreturn [{ json: { ...data, khal_command } }];"},"id":"7856b191-9154-4950-96ac-47d5cda1b6a9","name":"Prep Calendar Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,800]},{"parameters":{"authentication":"privateKey","command":"={{ $json.khal_command }}"},"id":"f13eb37d-cf05-4d0d-b097-a13540ee4fa3","name":"Execute khal","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1680,800],"credentials":{"sshPrivateKey":{"id":"C8ja9XNtZon7FzlC","name":"SSH Private Key account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $input.first().json;\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createAccount: {\n    '$': {\n      organizationId: '22Nm3uFevXMb',\n      name: prev.contact_name,\n      type: 'customer'\n    },\n    createdAccount: {\n      id: {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-80],"id":"e66dc44e-584f-4c6d-9b8a-0bfbd0190d6a","name":"PAVE Create Account"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"e1a64ae0-efe3-4807-a5d0-3f147fd3f8be","name":"JT Create Account","position":[1664,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst extract  = $('Extract & Validate').first().json;\n\nconst accountId = response?.createAccount?.createdAccount?.id;\nif (!accountId) throw new Error('No account ID in response: ' + JSON.stringify(response));\n\n// No-op PAVE call — keeps the chain topology valid. Account-level fields\n// (phone/email/notes) don't exist natively in JT; phone/email go on the\n// contact, and the lead-context note attaches to the job after creation.\nconst query = {\n  '$': { grantKey },\n  currentGrant: { id: {} }\n};\n\nreturn [{ json: { ...extract, jt_account_id: accountId, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-80],"id":"14bb7b3d-cd28-44cc-81fd-302c9e8f21d2","name":"PAVE Update Account"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"bd748bd1-ec19-41d6-934b-86e288c920cf","name":"JT Update Account","position":[2080,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $('PAVE Update Account').first().json;\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createLocation: {\n    '$': {\n      accountId: prev.jt_account_id,\n      name: 'Primary',\n      address: 'Bozeman, MT'\n    },\n    createdLocation: {\n      id: {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,-80],"id":"b9f872bd-c1ba-40e3-abb9-09f2e07843d5","name":"PAVE Build Location"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"18cebb32-b1d0-460f-8704-fa684f02f416","name":"JT Build Location","position":[2496,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst prev     = $('PAVE Build Location').first().json;\n\nconst locationId = response?.createLocation?.createdLocation?.id;\n\nconst CUSTOM_FIELDS = {\n  phone: '22Nm3uGb7WT2',\n  email: '22Nm3uGRBrPX',\n};\n\nfunction toE164(raw) {\n  if (!raw) return null;\n  const digits = String(raw).replace(/\\D/g, '');\n  if (digits.length === 10) return `+1${digits}`;\n  if (digits.length === 11 && digits.startsWith('1')) return `+${digits}`;\n  return digits.length ? `+${digits}` : null;\n}\n\nconst phoneE164 = toE164(prev.contact_phone);\n\n// PAVE expects customFieldValues as an object keyed by field ID:\n//   { \"<fieldId>\": \"<value>\", ... }\nconst customFieldValues = {};\nif (phoneE164)          customFieldValues[CUSTOM_FIELDS.phone] = phoneE164;\nif (prev.contact_email) customFieldValues[CUSTOM_FIELDS.email] = prev.contact_email;\n\nconst createContactArgs = {\n  accountId: prev.jt_account_id,\n  name:      prev.contact_name,\n};\nif (Object.keys(customFieldValues).length) {\n  createContactArgs.customFieldValues = customFieldValues;\n}\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createContact: {\n    '$': createContactArgs,\n    createdContact: {\n      id:   {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, jt_location_id: locationId || null, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,-80],"id":"89f68dff-cb07-4a36-b849-f08f4c9fb1da","name":"PAVE Create Contact"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"4406538a-adcc-4ca3-80d2-c7aaa9a772ff","name":"JT Create Contact","position":[2912,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst prev     = $('PAVE Create Contact').first().json;\n\nconst contactId = response?.createContact?.createdContact?.id;\n\nconst createJobArgs = {\n  locationId:  prev.jt_location_id,\n  name:        prev.jt_job_name,\n  description: prev.job_description,\n};\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createJob: {\n    '$': createJobArgs,\n    createdJob: {\n      id:     {},\n      number: {},\n      name:   {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, jt_contact_id: contactId || null, query } }];"},"id":"3cca2c89-2b8a-40be-8dde-e462af0c5c8b","name":"PAVE Create Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,-80]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"8bb67a24-0686-473f-9200-0cedd2d86765","name":"JT Create Job","position":[3328,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst prev = $('PAVE Create Job').first().json;\n\nconst jobId = response?.createJob?.createdJob?.id || null;\nconst jobNumber = response?.createJob?.createdJob?.number || null;\n\nreturn [{ json: {\n  ...prev,\n  jt_job_id: jobId,\n  jt_job_number: jobNumber,\n  // jt_account_id and jt_contact_id are already on prev from upstream\n}}];"},"id":"7c689a86-4920-4aa1-a75c-3c02568788f2","name":"Parse Job ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[3536,-80]},{"parameters":{"operation":"executeQuery","query":"UPDATE hwc.calculator_leads\nSET jt_account_id = {{ $json.jt_account_id ? \"'\" + $json.jt_account_id + \"'\" : 'NULL' }},\n    jt_contact_id = {{ $json.jt_contact_id ? \"'\" + $json.jt_contact_id + \"'\" : 'NULL' }},\n    jt_job_id     = {{ $json.jt_job_id     ? \"'\" + $json.jt_job_id     + \"'\" : 'NULL' }},\n    status        = 'contacted',\n    contacted_at  = now()\nWHERE report_id = '{{ $json.report_id }}';","options":{}},"id":"019d4f3d-1c3b-438b-9878-a9e6c91b7e8a","name":"Postgres: Update Lead With JT IDs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3952,-80],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $input.first().json;\n\nif (!prev.jt_job_id) {\n  return [{ json: { ...prev, query: null, skip_comment: true } }];\n}\n\nconst subject = `Calculator lead — ${prev.calc_label} (${prev.report_id})`;\nconst message = [\n  `From website calculator: ${prev.calc_label}`,\n  `Estimate: $${(prev.estimate_low || 0).toLocaleString()} – $${(prev.estimate_high || 0).toLocaleString()}`,\n  prev.contact_notes ? `Customer notes: ${prev.contact_notes}` : '',\n  prev.preferred_date ? `Preferred call: ${prev.preferred_date} ${prev.preferred_time || ''}`.trim() : '',\n  ``,\n  `Selections:`,\n  Object.entries(prev.project_state || {})\n    .filter(([k]) => k !== 'features')\n    .map(([k, v]) => `  ${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n    .join('\\n'),\n  (prev.project_state?.features || []).length\n    ? `  features: ${prev.project_state.features.join(', ').replace(/_/g, ' ')}`\n    : '',\n  ``,\n  `Report: ${prev.report_url}`,\n].filter(Boolean).join('\\n');\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createComment: {\n    '$': {\n      targetType: 'job',\n      targetId:   prev.jt_job_id,\n      name:       subject,\n      message:    message,\n      isVisibleToInternalRoles: true,\n      isVisibleToCustomerRoles: false,\n      isVisibleToVendorRoles:   false,\n      isVisibleToAll:           false\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,-80],"id":"07942fb5-98db-428d-94f2-f39b48718098","name":"PAVE Job Comment"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"3dc451b3-6333-4213-8691-787c819467dd","name":"JT Comment on Job","position":[3808,176],"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Eric O'Keefe <eric@iheartwoodcraft.com>","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_subject }}","emailFormat":"text","text":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1744,592],"id":"5eac1479-10d9-4048-af9e-4d0cc208cdee","name":"Send an Email","webhookId":"f682b0db-d056-46cc-b950-cee1724700ee","credentials":{"smtp":{"id":"szeSNbg0hVngXgok","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Extract & Validate","type":"main","index":0}]]},"Extract & Validate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Postgres: Archive Lead","type":"main","index":0},{"node":"Prep Customer Email","type":"main","index":0},{"node":"Prep Calendar Event","type":"main","index":0},{"node":"PAVE Create Account","type":"main","index":0}]]},"Prep Customer Email":{"main":[[{"node":"Send an Email","type":"main","index":0}]]},"Prep Calendar Event":{"main":[[{"node":"Execute khal","type":"main","index":0}]]},"PAVE Create Account":{"main":[[{"node":"JT Create Account","type":"main","index":0}]]},"JT Create Account":{"main":[[{"node":"PAVE Update Account","type":"main","index":0}]]},"PAVE Update Account":{"main":[[{"node":"JT Update Account","type":"main","index":0}]]},"JT Update Account":{"main":[[{"node":"PAVE Build Location","type":"main","index":0}]]},"PAVE Build Location":{"main":[[{"node":"JT Build Location","type":"main","index":0}]]},"JT Build Location":{"main":[[{"node":"PAVE Create Contact","type":"main","index":0}]]},"PAVE Create Contact":{"main":[[{"node":"JT Create Contact","type":"main","index":0}]]},"JT Create Contact":{"main":[[{"node":"PAVE Create Job","type":"main","index":0}]]},"PAVE Create Job":{"main":[[{"node":"JT Create Job","type":"main","index":0}]]},"JT Create Job":{"main":[[{"node":"Parse Job ID","type":"main","index":0}]]},"Parse Job ID":{"main":[[{"node":"PAVE Job Comment","type":"main","index":0}]]},"PAVE Job Comment":{"main":[[{"node":"JT Comment on Job","type":"main","index":0}]]},"JT Comment on Job":{"main":[[{"node":"Postgres: Update Lead With JT IDs","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Postgres: Mark Email Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Denver","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"hwc.ocelot-wahoo.ts.net","user-agent":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36","content-length":"687","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9","content-type":"application/json","origin":"https://heartwoodcraft.me","priority":"u=1, i","referer":"https://heartwoodcraft.me/","sec-ch-ua":"\"Not-A.Brand\";v=\"24\", \"Chromium\";v=\"146\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Linux\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","tailscale-headers-info":"https://tailscale.com/s/serve-headers","tailscale-user-login":"eriqueo@github","tailscale-user-name":"HWC","tailscale-user-profile-pic":"https://avatars.githubusercontent.com/u/131015325?v=4","via":"1.1 Caddy","x-forwarded-for":"127.0.0.1:48598","x-forwarded-host":"hwc.ocelot-wahoo.ts.net","x-forwarded-prefix":"/webhook","x-forwarded-proto":"http","x-real-ip":"127.0.0.1:48598"},"params":{},"query":{},"body":{"action":"calculator_lead_full","contact":{"name":"stuppi did","email":"eriqueo@proton.me","phone":"345-440-4405","notes":"","preferred_date":"2026-04-30","preferred_time":"morning"},"projectState":{"project_type":"full_gut","bathroom_size":"medium","shower_tub":"shower_only","tile_level":"basic","fixtures":"premium","features":["bench","lighting"],"timeline":"asap"},"estimate":{"low":29500,"high":49500},"timestamp":"2026-04-29T21:24:00.562Z","source":"website_calculator","calculator":"bathroom","source_page":"/calculator/","utm_source":null,"utm_medium":null,"utm_campaign":null,"gclid":null,"referrer":"https://heartwoodcraft.me/","landing_page":"/calculator/","pages_viewed":5},"webhookUrl":"https://hwc.ocelot-wahoo.ts.net:10000/webhook/calculator-lead","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"087d853f-6d41-4c37-8e4d-3c82b4e99ad0","activeVersionId":"087d853f-6d41-4c37-8e4d-3c82b4e99ad0","versionCounter":396,"triggerCount":1,"shared":[{"updatedAt":"2026-03-23T23:51:24.653Z","createdAt":"2026-03-23T23:51:24.653Z","role":"workflow:owner","workflowId":"SoLwmxgkMILrOYbP","projectId":"bMO3z9r4NHgNWOF3","project":{"updatedAt":"2025-12-08T06:53:46.444Z","createdAt":"2025-12-07T21:24:43.325Z","id":"bMO3z9r4NHgNWOF3","name":"Eric Okeefe <eric@iheartwoodcraft.com>","type":"personal","icon":null,"description":null,"creatorId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}}],"tags":[{"updatedAt":"2026-03-31T16:48:38.319Z","createdAt":"2026-03-31T16:48:38.319Z","id":"1vEhkMK57tL7FIjg","name":"ops"},{"updatedAt":"2026-03-31T16:59:19.092Z","createdAt":"2026-03-31T16:59:19.092Z","id":"Jtq0uD17RxSMt0jh","name":"calculator"},{"updatedAt":"2026-03-31T16:48:38.276Z","createdAt":"2026-03-31T16:48:38.276Z","id":"Xbs5xRVgAAScRHir","name":"hwc"},{"updatedAt":"2026-04-01T22:16:52.592Z","createdAt":"2026-04-01T22:16:52.592Z","id":"rQ9T4xo4j6XrokrN","name":"business"},{"updatedAt":"2026-03-31T16:59:19.118Z","createdAt":"2026-03-31T16:59:19.118Z","id":"xt7QGxQTNyrqjvCG","name":"lead"}],"activeVersion":{"updatedAt":"2026-05-08T15:57:19.437Z","createdAt":"2026-05-08T15:57:19.437Z","versionId":"087d853f-6d41-4c37-8e4d-3c82b4e99ad0","workflowId":"SoLwmxgkMILrOYbP","nodes":[{"parameters":{"httpMethod":"POST","path":"calculator-lead","responseMode":"responseNode","options":{}},"id":"3a438f8f-9d2d-4fb6-99b4-a50434693b25","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[992,224],"webhookId":"10c75450-2b55-4da9-a6a2-3695b38119b8","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Validate + extract + generate report ID\nconst body = $input.first().json.body || $input.first().json;\n\nconst contact = body.contact || {};\nconst projectState = body.projectState || {};\nconst estimate = body.estimate || {};\n\n// Validate required fields (phone is optional — gate submissions have name+email only)\nif (!contact.name || !contact.email) {\n  throw new Error('Missing required contact fields: name, email');\n}\nif (!body.calculator && !body.project_type) {\n  if (projectState.deck_size || projectState.deck_height || projectState.material) {\n    body.calculator = 'deck';\n  } else {\n    body.calculator = 'bathroom';\n  }\n}\n\n// Generate 8-char report ID\nconst chars = 'abcdefghijklmnopqrstuvwxyz0123456789';\nlet reportId = '';\nfor (let i = 0; i < 8; i++) reportId += chars[Math.floor(Math.random() * chars.length)];\n\n// Parse name\nconst nameParts = contact.name.trim().split(/\\s+/);\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\nconst calcType = (body.calculator || 'bathroom');\nconst calcLabel = calcType === 'deck' ? 'Deck' : 'Bathroom';\n\n// Format selections for JT job description\nconst stateEntries = Object.entries(projectState)\n  .filter(([k]) => k !== 'features')\n  .map(([k, v]) => `${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n  .join('\\n');\n\nconst features = (projectState.features || []).join(', ').replace(/_/g, ' ');\n\nconst jobDescription = [\n  `Calculator: ${calcLabel}`,\n  `Estimate: $${(estimate.low || 0).toLocaleString()} \\u2013 $${(estimate.high || 0).toLocaleString()}`,\n  '',\n  stateEntries,\n  features ? `Features: ${features}` : '',\n  '',\n  contact.preferred_date ? `Preferred call: ${contact.preferred_date}, ${contact.preferred_time || 'any time'}` : '',\n  contact.notes ? `Notes: ${contact.notes}` : '',\n  '',\n  `Report: https://heartwoodcraft.me/report/?id=${reportId}`\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    ...body,\n    report_id: reportId,\n    calculator: calcType,\n    calc_label: calcLabel,\n    contact_name: contact.name,\n    contact_phone: contact.phone || null,\n    contact_email: contact.email,\n    contact_notes: contact.notes || '',\n    first_name: firstName,\n    last_name: lastName,\n    project_state: projectState,\n    estimate_low: estimate.low || 0,\n    estimate_high: estimate.high || 0,\n    preferred_date: contact.preferred_date || null,\n    preferred_time: contact.preferred_time || null,\n    attribution: body.attribution || null,\n    landing_page: body.landing_page || '',\n    referrer: body.referrer || '',\n    source_page: body.source_page || '',\n    job_description: jobDescription,\n    report_url: `https://heartwoodcraft.me/report/?id=${reportId}`,\n    jt_source_value: 'Website Calculator',\n    jt_job_type: calcLabel,\n    jt_job_name: `${contact.name}'s ${calcLabel} Project`.slice(0, 30)\n  }\n}];"},"id":"4485a630-a486-4b22-a4ea-09fb8357b9a2","name":"Extract & Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,224]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, reportUrl: $json.report_url, reportId: $json.report_id }) }}","options":{"responseCode":200}},"id":"2f9d401a-220b-4f9d-94cf-fad856f6a0f2","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1456,224]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO hwc.calculator_leads (\n  report_id, calculator, contact_name, contact_phone, contact_email, contact_notes,\n  project_state, estimate_low, estimate_high, preferred_date, preferred_time,\n  attribution, landing_page, referrer, source_page\n) VALUES (\n  '{{ $json.report_id }}',\n  '{{ $json.calculator }}',\n  '{{ $json.contact_name.replace(/'/g, \"''\") }}',\n  '{{ $json.contact_phone }}',\n  '{{ $json.contact_email }}',\n  '{{ ($json.contact_notes || '').replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.project_state).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.estimate_low }},\n  {{ $json.estimate_high }},\n  {{ $json.preferred_date ? \"'\" + $json.preferred_date + \"'\" : 'NULL' }},\n  {{ $json.preferred_time ? \"'\" + $json.preferred_time + \"'\" : 'NULL' }},\n  {{ $json.attribution ? \"'\" + JSON.stringify($json.attribution).replace(/'/g, \"''\") + \"'::jsonb\" : 'NULL' }},\n  '{{ ($json.landing_page || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.referrer || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.source_page || '').replace(/'/g, \"''\") }}'\n) RETURNING id, report_id;","options":{}},"id":"ba79df6f-e479-4aec-bf26-cd5c0e4acc5f","name":"Postgres: Archive Lead","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1456,416],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst lo = (data.estimate_low || 0).toLocaleString();\nconst hi = (data.estimate_high || 0).toLocaleString();\nconst calcLabel = data.calc_label || 'Project';\nconst firstName = data.first_name || data.contact_name || 'there';\nconst reportUrl = data.report_url;\n\nconst ps = data.project_state || {};\nconst features = (ps.features || []).join(', ').replace(/_/g, ' ');\nconst stateEntries = Object.entries(ps)\n  .filter(([k]) => k !== 'features')\n  .map(([k, v]) => `  ${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n  .join('\\n');\n\nconst subject = `Your ${calcLabel} project summary from Heartwood Craft`;\n\nconst body = [\n  `Hi ${firstName},`,\n  ``,\n  `Thanks for using the Heartwood Craft calculator. Here's a quick recap of your ${calcLabel.toLowerCase()} project:`,\n  ``,\n  `Estimated range: $${lo} – $${hi}`,\n  ``,\n  `Your selections:`,\n  stateEntries,\n  features ? `  features: ${features}` : '',\n  ``,\n  `View your full project summary here:`,\n  reportUrl,\n  ``,\n  `What happens next:`,\n  `  1. I'll give you a call to discuss your project and answer questions.`,\n  `  2. We schedule a site visit (about 45 minutes at your home).`,\n  `  3. I send you an itemized estimate, walked through together.`,\n  `  4. If we're a fit, we set a start date.`,\n  ``,\n  `These ranges come from real Heartwood Craft jobs in the Gallatin Valley — not national averages. Your actual cost depends on site conditions, exact dimensions, and final material selections we'd nail down on the site visit.`,\n  ``,\n  `Talk soon,`,\n  ``,\n  `Eric O'Keefe`,\n  `Heartwood Craft`,\n  `406-551-5061`,\n  `eric@iheartwoodcraft.com`,\n  `https://heartwoodcraft.me`,\n].filter(s => s !== false).join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    email_to: data.contact_email,\n    email_subject: subject,\n    email_body: body,\n  }\n}];"},"id":"d7ea7504-92f7-48cb-84d3-9908df4d38ff","name":"Prep Customer Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,608]},{"parameters":{"operation":"executeQuery","query":"UPDATE hwc.calculator_leads\nSET email_sent = true, email_sent_at = now()\nWHERE report_id = '{{ $json.report_id }}';","options":{}},"id":"8c43fae6-7249-455e-b6ef-41b633a3ffae","name":"Postgres: Mark Email Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2080,576],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Prep Calendar Event for khal\nconst data = $input.first().json;\n\nconst timeMap = {\n  morning:   { start: '09:00', end: '09:15' },\n  afternoon: { start: '13:00', end: '13:15' },\n  evening:   { start: '17:00', end: '17:15' },\n};\n\nconst tomorrow = new Date(Date.now() + 86400000).toISOString().split('T')[0];\nconst dateStr = data.preferred_date || tomorrow;\nconst times = timeMap[data.preferred_time] || timeMap.morning;\n\nconst name = (data.contact_name || '').replace(/\"/g, '\\\\\"');\nconst phone = (data.contact_phone || '').replace(/\"/g, '\\\\\"');\nconst calcType = data.calculator || 'bathroom';\nconst projectType = (data.project_state.project_type || '').replace(/\"/g, '\\\\\"');\nconst estLow = data.estimate_low;\nconst estHigh = data.estimate_high;\n\nconst noDate = !data.preferred_date;\nconst noTime = !data.preferred_time;\n\nconst descParts = [\n  `Phone: ${phone}`,\n  `Email: ${data.contact_email || 'n/a'}`,\n  `Project: ${projectType}`,\n  `Est: $${estLow}-$${estHigh}`,\n  noDate ? 'NO DATE SET - defaulted to tomorrow' : '',\n  noTime ? 'No time pref - defaulted to 9am' : '',\n].filter(Boolean).join(', ');\n\nconst khal_command = [\n  'khal new',\n  `${dateStr} ${times.start}`,\n  `${dateStr} ${times.end}`,\n  `\"Call ${name} - ${phone} (${calcType})\"`,\n  '::',\n  `\"${descParts}\"`,\n].join(' ');\n\nreturn [{ json: { ...data, khal_command } }];"},"id":"7856b191-9154-4950-96ac-47d5cda1b6a9","name":"Prep Calendar Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,800]},{"parameters":{"authentication":"privateKey","command":"={{ $json.khal_command }}"},"id":"f13eb37d-cf05-4d0d-b097-a13540ee4fa3","name":"Execute khal","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1680,800],"credentials":{"sshPrivateKey":{"id":"C8ja9XNtZon7FzlC","name":"SSH Private Key account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $input.first().json;\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createAccount: {\n    '$': {\n      organizationId: '22Nm3uFevXMb',\n      name: prev.contact_name,\n      type: 'customer'\n    },\n    createdAccount: {\n      id: {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-80],"id":"e66dc44e-584f-4c6d-9b8a-0bfbd0190d6a","name":"PAVE Create Account"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"e1a64ae0-efe3-4807-a5d0-3f147fd3f8be","name":"JT Create Account","position":[1664,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst extract  = $('Extract & Validate').first().json;\n\nconst accountId = response?.createAccount?.createdAccount?.id;\nif (!accountId) throw new Error('No account ID in response: ' + JSON.stringify(response));\n\n// No-op PAVE call — keeps the chain topology valid. Account-level fields\n// (phone/email/notes) don't exist natively in JT; phone/email go on the\n// contact, and the lead-context note attaches to the job after creation.\nconst query = {\n  '$': { grantKey },\n  currentGrant: { id: {} }\n};\n\nreturn [{ json: { ...extract, jt_account_id: accountId, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,-80],"id":"14bb7b3d-cd28-44cc-81fd-302c9e8f21d2","name":"PAVE Update Account"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"bd748bd1-ec19-41d6-934b-86e288c920cf","name":"JT Update Account","position":[2080,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $('PAVE Update Account').first().json;\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createLocation: {\n    '$': {\n      accountId: prev.jt_account_id,\n      name: 'Primary',\n      address: 'Bozeman, MT'\n    },\n    createdLocation: {\n      id: {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,-80],"id":"b9f872bd-c1ba-40e3-abb9-09f2e07843d5","name":"PAVE Build Location"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"18cebb32-b1d0-460f-8704-fa684f02f416","name":"JT Build Location","position":[2496,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst prev     = $('PAVE Build Location').first().json;\n\nconst locationId = response?.createLocation?.createdLocation?.id;\n\nconst CUSTOM_FIELDS = {\n  phone: '22Nm3uGb7WT2',\n  email: '22Nm3uGRBrPX',\n};\n\nfunction toE164(raw) {\n  if (!raw) return null;\n  const digits = String(raw).replace(/\\D/g, '');\n  if (digits.length === 10) return `+1${digits}`;\n  if (digits.length === 11 && digits.startsWith('1')) return `+${digits}`;\n  return digits.length ? `+${digits}` : null;\n}\n\nconst phoneE164 = toE164(prev.contact_phone);\n\n// PAVE expects customFieldValues as an object keyed by field ID:\n//   { \"<fieldId>\": \"<value>\", ... }\nconst customFieldValues = {};\nif (phoneE164)          customFieldValues[CUSTOM_FIELDS.phone] = phoneE164;\nif (prev.contact_email) customFieldValues[CUSTOM_FIELDS.email] = prev.contact_email;\n\nconst createContactArgs = {\n  accountId: prev.jt_account_id,\n  name:      prev.contact_name,\n};\nif (Object.keys(customFieldValues).length) {\n  createContactArgs.customFieldValues = customFieldValues;\n}\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createContact: {\n    '$': createContactArgs,\n    createdContact: {\n      id:   {},\n      name: {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, jt_location_id: locationId || null, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,-80],"id":"89f68dff-cb07-4a36-b849-f08f4c9fb1da","name":"PAVE Create Contact"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"4406538a-adcc-4ca3-80d2-c7aaa9a772ff","name":"JT Create Contact","position":[2912,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst response = $input.first().json;\nconst prev     = $('PAVE Create Contact').first().json;\n\nconst contactId = response?.createContact?.createdContact?.id;\n\nconst createJobArgs = {\n  locationId:  prev.jt_location_id,\n  name:        prev.jt_job_name,\n  description: prev.job_description,\n};\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createJob: {\n    '$': createJobArgs,\n    createdJob: {\n      id:     {},\n      number: {},\n      name:   {}\n    }\n  }\n};\n\nreturn [{ json: { ...prev, jt_contact_id: contactId || null, query } }];"},"id":"3cca2c89-2b8a-40be-8dde-e462af0c5c8b","name":"PAVE Create Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,-80]},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"8bb67a24-0686-473f-9200-0cedd2d86765","name":"JT Create Job","position":[3328,-80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst prev = $('PAVE Create Job').first().json;\n\nconst jobId = response?.createJob?.createdJob?.id || null;\nconst jobNumber = response?.createJob?.createdJob?.number || null;\n\nreturn [{ json: {\n  ...prev,\n  jt_job_id: jobId,\n  jt_job_number: jobNumber,\n  // jt_account_id and jt_contact_id are already on prev from upstream\n}}];"},"id":"7c689a86-4920-4aa1-a75c-3c02568788f2","name":"Parse Job ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[3536,-80]},{"parameters":{"operation":"executeQuery","query":"UPDATE hwc.calculator_leads\nSET jt_account_id = {{ $json.jt_account_id ? \"'\" + $json.jt_account_id + \"'\" : 'NULL' }},\n    jt_contact_id = {{ $json.jt_contact_id ? \"'\" + $json.jt_contact_id + \"'\" : 'NULL' }},\n    jt_job_id     = {{ $json.jt_job_id     ? \"'\" + $json.jt_job_id     + \"'\" : 'NULL' }},\n    status        = 'contacted',\n    contacted_at  = now()\nWHERE report_id = '{{ $json.report_id }}';","options":{}},"id":"019d4f3d-1c3b-438b-9878-a9e6c91b7e8a","name":"Postgres: Update Lead With JT IDs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3952,-80],"credentials":{"postgres":{"id":"postgres-hwc-cred","name":"HWC Postgres - alt"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const grantKey = $env.JOBTREAD_GRANT_KEY;\nif (!grantKey) throw new Error('Missing JOBTREAD_GRANT_KEY');\n\nconst prev = $input.first().json;\n\nif (!prev.jt_job_id) {\n  return [{ json: { ...prev, query: null, skip_comment: true } }];\n}\n\nconst subject = `Calculator lead — ${prev.calc_label} (${prev.report_id})`;\nconst message = [\n  `From website calculator: ${prev.calc_label}`,\n  `Estimate: $${(prev.estimate_low || 0).toLocaleString()} – $${(prev.estimate_high || 0).toLocaleString()}`,\n  prev.contact_notes ? `Customer notes: ${prev.contact_notes}` : '',\n  prev.preferred_date ? `Preferred call: ${prev.preferred_date} ${prev.preferred_time || ''}`.trim() : '',\n  ``,\n  `Selections:`,\n  Object.entries(prev.project_state || {})\n    .filter(([k]) => k !== 'features')\n    .map(([k, v]) => `  ${k.replace(/_/g, ' ')}: ${String(v).replace(/_/g, ' ')}`)\n    .join('\\n'),\n  (prev.project_state?.features || []).length\n    ? `  features: ${prev.project_state.features.join(', ').replace(/_/g, ' ')}`\n    : '',\n  ``,\n  `Report: ${prev.report_url}`,\n].filter(Boolean).join('\\n');\n\nconst query = {\n  '$': { grantKey, notify: false },\n  createComment: {\n    '$': {\n      targetType: 'job',\n      targetId:   prev.jt_job_id,\n      name:       subject,\n      message:    message,\n      isVisibleToInternalRoles: true,\n      isVisibleToCustomerRoles: false,\n      isVisibleToVendorRoles:   false,\n      isVisibleToAll:           false\n    }\n  }\n};\n\nreturn [{ json: { ...prev, query } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,-80],"id":"07942fb5-98db-428d-94f2-f39b48718098","name":"PAVE Job Comment"},{"parameters":{"method":"POST","url":"https://api.jobtread.com/pave","sendBody":true,"specifyBody":"json","jsonBody":"={{ { query: $json.query } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1500,"id":"3dc451b3-6333-4213-8691-787c819467dd","name":"JT Comment on Job","position":[3808,176],"onError":"continueRegularOutput"},{"parameters":{"fromEmail":"Eric O'Keefe <eric@iheartwoodcraft.com>","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_subject }}","emailFormat":"text","text":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1744,592],"id":"5eac1479-10d9-4048-af9e-4d0cc208cdee","name":"Send an Email","webhookId":"f682b0db-d056-46cc-b950-cee1724700ee","credentials":{"smtp":{"id":"szeSNbg0hVngXgok","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Extract & Validate","type":"main","index":0}]]},"Extract & Validate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Postgres: Archive Lead","type":"main","index":0},{"node":"Prep Customer Email","type":"main","index":0},{"node":"Prep Calendar Event","type":"main","index":0},{"node":"PAVE Create Account","type":"main","index":0}]]},"Prep Customer Email":{"main":[[{"node":"Send an Email","type":"main","index":0}]]},"Prep Calendar Event":{"main":[[{"node":"Execute khal","type":"main","index":0}]]},"PAVE Create Account":{"main":[[{"node":"JT Create Account","type":"main","index":0}]]},"JT Create Account":{"main":[[{"node":"PAVE Update Account","type":"main","index":0}]]},"PAVE Update Account":{"main":[[{"node":"JT Update Account","type":"main","index":0}]]},"JT Update Account":{"main":[[{"node":"PAVE Build Location","type":"main","index":0}]]},"PAVE Build Location":{"main":[[{"node":"JT Build Location","type":"main","index":0}]]},"JT Build Location":{"main":[[{"node":"PAVE Create Contact","type":"main","index":0}]]},"PAVE Create Contact":{"main":[[{"node":"JT Create Contact","type":"main","index":0}]]},"JT Create Contact":{"main":[[{"node":"PAVE Create Job","type":"main","index":0}]]},"PAVE Create Job":{"main":[[{"node":"JT Create Job","type":"main","index":0}]]},"JT Create Job":{"main":[[{"node":"Parse Job ID","type":"main","index":0}]]},"Parse Job ID":{"main":[[{"node":"PAVE Job Comment","type":"main","index":0}]]},"PAVE Job Comment":{"main":[[{"node":"JT Comment on Job","type":"main","index":0}]]},"JT Comment on Job":{"main":[[{"node":"Postgres: Update Lead With JT IDs","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Postgres: Mark Email Sent","type":"main","index":0}]]}},"authors":"Eric Okeefe","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-08T15:57:19.494Z","id":544,"workflowId":"SoLwmxgkMILrOYbP","versionId":"087d853f-6d41-4c37-8e4d-3c82b4e99ad0","event":"activated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"},{"createdAt":"2026-05-08T15:57:19.474Z","id":543,"workflowId":"SoLwmxgkMILrOYbP","versionId":"087d853f-6d41-4c37-8e4d-3c82b4e99ad0","event":"deactivated","userId":"bf750ab3-9f4a-4c0c-8050-c421573ab271"}]}}